


<% include ../partials/header %>
	
	<!-- Page Content------------------------------------------------ -->
	<section id="services">
     
      <div class="container">
        
        <div class="row">
	<aside class="page-content-wrapper">
<body>
    
    
 <div class="container panel-default shadow ">
    <div class="jumbotron jce wow fadeInUp">
        <div class="text-center"> 
           <img src="jce.png" width="25%" height="10%">
            <h1>Acta de Nacimiento</h1>
           </div>
       
    </div>
    
    <div class="row wow fadeInUp">
        <div class="col-lg-12">
    <p>Todos los documentos de registro civil como las actas de nacimiento, acta de defunción, actas de divorcio, actas de matrimonio entre otros, deben ser solicitados en la oficina de la Junta Central Electoral.
    
    </p>
    
     <div class="alert alert-warning">
       
  <div><h4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><p class="text-justify">Existe una extensión de la Junta Central Electoral en el mismo piso del Consulado Dominicano. La Junta Central Electoral es una Institución totalmente independiente del Consulado , por tanto, sus horarios de labores como su personal son distintos a los del Consulado Dominicano.</p></div>
  
  
  
   <div class="alert alert-warning">
  <div><h4><strong>Nota</strong></h4></div>
  <div class="panel-content"><p class="text-justify">Si tiene más de 5 o 10 años sin solicitar un acta de nacimiento, debe hacer el proceso de subir el acta de nacimiento al sistema digital de la Junta Central Electoral.</p></div>
  
    </div>
    
    </div>
</div>
</div>

<ul class="nav nav-tabs wow fadeInUp" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Como solicitar una acta de Nacimiento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Subir el Acta de Nacimiento al sistema digital de la Junta Central Electoral.</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Costo</a>
    </li>
    
     <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu5">Asistencia</a>
    </li>
  </ul>
  
   <div class="tab-content">
    <div id="home" class="container tab-pane active wow fadeInUp"><br>
       <h2 id="section-1"><strong>Como solicitar una acta de Nacimiento</strong></h2>
            <br>
            <h3>Usted puede solicitar un acta de nacimiento de las siguientes formas:</h3>
            <br>
            <ol>
              <li><h3><trong>Los 19 números de registro de nacimiento que se encuentran en la parte trasera de la cedula</trong></h3>
            <p>Usted puede solicitar su acta de nacimiento con los  19 números de registros civiles que se encuentran en la parte trasera de su cedula de identidad y electoral nuevo formato Biométrico, dichos números no pueden ser 0  y deben tener formato con los cuatro guiones( 001-000-01-01010101). </p>
            <img width="50%" src="../parte.jpg"/>
            </li>
            <br>
            <li>  <h3><strong>Con una copia de su Acta de Nacimiento</strong></h3>
            <p>Con los 19 números de evento que se encuentran en la parte superior de su copia del Acta de Nacimiento </p>
            <img  width="50%" src="../acta.png"/></li>
            
            <li><h3>Recuerde que su acta de Nacimiento debe ser Original ,<strong>Inextensa</strong> y del ano 2012 en adelante para la renovacion de Pasaporte<strong>(Legalizada si proviene de la Republica Dominicana)</strong></h3>
              <p>Acta Inextensa y después del año 2012</p>
             <img width="50%" src="../inextensayano.png" width ="100%"/>
            
             <p>La legalización es el sello que se encuentra en la parte de atrás de su Acta de Nacimiento</p>
             <img  width="50%" src="../legalizacion.png"/></li>
            </ol>
            <br>
            
            <br>
                 <div class="alert alert-warning">
  <div><h4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre , Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p></div>
  
    </div>
    </div>
    
    
     <div id="menu1" class="container tab-pane fade"><br>
      <h2 id="section-2"><strong>Cómo subir el Acta de Nacimiento al sistema digital de la Junta Central Electoral.</strong></h2>
      <br>
            <p>Para subir su acta de nacimiento al sistema de la Junta Central Electoral usted necesita lo siguiente:</p>
         <ul>
             <li>Número de Folio</li>
             <li>Número de Acta</li>
             <li>Número de Libro</li>
             <li>Año</li>
             <li>Municipio o provincia donde nació</li>
             <li>Oficialía</li>
             <br>
             
             <img width="50%" src="../info.png"/>
             
         </ul>
         
        
      <div class="alert alert-warning">
  <div><h4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre , Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p></div>
  
    </div>
     
    </div>
    
    
    <div id="menu2" class="container tab-pane fade"><br>
     <p class="text-justify">Las actas de Nacimiento tienen un costo <strong>de: 20 dólares </strong> y se <strong>entregan el mismo dia siempre y cuando su acta de nacimiento se encuentre en el sistema Digital de la Junta Central Electoral</strong> , éstas deben ser pagadas en la Caja de la Junta Central Electoral</p>
             
         </ol>
      <div class="alert alert-warning">
  <div><h4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre , Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p></div>
  
    </div>
     
    </div>
   
    

 
</div>

</div>
</div>
</section>
 
<% include ../partials/footer %>