<% include ../partials/header %>

<!-- Page Content------------------------------------------------ -->


<section id="services">

  <div class="container">

    <div class="row">

      <div class="col-lg-12">
        <div class=" wow fadeInUp" data-wow-delay="0.2s">
          <div class="jumbotron jce">
            <div class="text-center">
              <img src="jce.png" width="25%" height="10%">

              <h1>Cédula de Identidad y Electoral</h1>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  </div>
  <aside class="page-content-wrapper">

    <body>


      <div class="container panel-default shadow">


        <div class="row">
          <div class="col-lg-12 wow fadeInUp">
            <p class="text-justify">La cédula es un documento de identidad y electoral obtenido a la edad de 18 años, y
              que otorga un número único a cada ciudadano dominicano para su identificación.
              La Junta Central Electoral (JCE) de la República Dominicana es el organismo especial, encargado de
              administrar el registro civil, el estado civil de todos los ciudadanos dominicanos.</p>

            <div class="alert alert-warning wow fadeInUp">
              <h4><strong>Recuerde que:</strong></h4>
              <p class='text-justify'>Todo dominicano, mayor de edad debe tener su Cédula de Identidad y Electoral, ya
                que es el documento que nos identifica como dominicano para todas las actividades civiles y comerciales
                en la República Dominicana</strong></p>
            </div>
            <div class="text-center">
              <h2>Cédula de Identidad y Electoral Biométrica</h2>
              <img src="../cedula.png" width="100%">
            </div>

            <div class="text-center">
              <h1>La Cédula es <strong>Gratis</strong></h1>

              <li>Por primera vez</li>
              <li>Renovación</li>


            </div>
            <div class="alert alert-warning wow fadeInUp">

              <div class=" panel-heading">
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p>Existe una extensión de la Junta Central Electoral en el mismo piso del Consulado Dominicano. La
                  Junta Central Electoral es una Institución totalmente independiente del Consulado , por tanto, sus
                  horarios de labores como su personal son distintos a los del Consulado Dominicano.</p>
              </div>


            </div>

            <p></p>


          </div>
        </div>

        <ul class="nav nav-tabs wow fadeInUp" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Renovación de Cédula o Cambio de Plástico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Cédula por primera vez</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Pérdida</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Poner el Apellido del Esposo en la Cédula</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Poner el Apellido de Soltera en su Cédula</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu5">Asistencia</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane active wow fadeInUp"><br>
            <h2 id="section-1"><strong>Renovación de Cédula o Cambio de Plástico</strong></h2>
            <br>
            <h3>Usted puede renovar su cédula o hacer el cambio de plástico con los siguientes documentos:</h3>
            <br>
            <ol>
              <li>
                <h4>Cambiar la cédula <strong>Amarilla</strong> por la <strong>Biométrica color Naranja</strong></h4>
              </li>
              <img src="../cambiom.png" width="100%" />


              <li>
                <h4>Cambiar la cédula <strong>Azul</strong> por la <strong>Biométrica color Naranja</strong></h4>
              </li>
            </ol>
            <br>

            <h4>La Renovación de la cédula es <strong>Gratis</strong> </h4>

            <br>
            <div class="alert alert-warning">
              <div>
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre ,
                    Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p>
              </div>

            </div>
          </div>
          <div id="menu1" class="container tab-pane fade"><br>
            <h2 id="section-2"><strong>Cédula por primera vez</strong></h2>
            <br>
            <h3>Para solicitar su cédula de Identidad y Electoral por primera vez, usted necesita lo siguiente:</h3>
            <br>
            <ul>
              <li>
                <h4>Debe tener 18 años o más.</h4>
              </li>
              <li>
                <h4>Con Una Acta de Nacimiento del 2012 en adelante , Nuevo Formato</h4>
              </li>

              <li>
                <h4>Una copia de la cedula del padre o la madre</h4>
              </li>


              <img src="../inextensayano.png" width="100%" />

            </ul>
            <br>


            <h2>la Cédula por primera vez es <strong>Gratis</strong> </h2>
            <br>
            <div class="alert alert-warning">
              <div>
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre ,
                    Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p>
              </div>

            </div>

          </div>
          <div id="menu2" class="container tab-pane fade"><br>
            <h2 id="section-3"><strong>Pérdida</strong></h2>
            <br>
            <h3>Puede solicitar un duplicado de Cédula de identidad y electoral Dominicana, en caso de pérdida:</h3>
            <br>
            <ul>
              <li>Con el número de cédula o sus datos personales.</li>
            </ul>
            <div class="alert alert-warning">
              <p><strong>Los Duplicados solo aplican para las cédulas de color amarilla y las biométricas</strong>
                primero , segundo o más deberán pagar según la cantidad de pérdidas que tenga</p>
            </div>

            <div class="alert alert-warning">
              <div>
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p class="text-justify">Siempre debe verificar la información de su documento,<strong>( Nombre ,
                    Apellido , Fecha de Nacimiento y Nombre de los Padres)</strong></p>
              </div>

            </div>
          </div>





          <div id="menu3" class="container tab-pane fade"><br>
            <h3>Para poner el apellido del Esposo en su Cédula de Identidad y Electoral,usted necesita:</h3>
            <br>
            <ul>
              <li>Su cédula de identidad y Electoral</li>
              <li>Una acta de matrimonio de la República Dominicana del año 2012 en adelante</li>
            </ul>
            <div class="alert alert-warning">
              <div>
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p class="text-justify">Si usted se Divorció en los Estados Unidos y se casó en la República Dominicana
                  y no ha realizado ningún proceso ante los registros civiles de la República Dominicana para asentar el
                  divorcio, usted deberá realizar el proceso de la transcripción de su Acta de Divorcio Americana
                  <strong>(Traducir su Acta de Divorcio del Inglés al español)</strong> y registrarla en los Registros
                  Civiles de la República Dominicana para poder obtener una acta de matrimonio dominicana.</p>
              </div>

            </div>
          </div>

          <div id="menu4" class="container tab-pane fade"><br>

            <h2 id="section-5"><strong>Poner el Apellido de Soltera en su Cédula</strong></h2>
            <br>
            <h3>Para poner el apellido de soltera en su cédula de Identidad y Electoral , usted necesita:</h3>
            <br>
            <ul>
              <li>Su cédula de identidad y Electoral</li>
              <li>Acta de Divorcio de la República Dominicana del año 2012 en adelante.</li>
            </ul>
            <div class="alert alert-warning">
              <div>
                <h4><strong>Importante:</strong></h4>
              </div>
              <div class="panel-content">
                <p class="text-justify">Si usted se Divorció en los Estados Unidos y se casó en la República Dominicana
                  y no ha realizado ningún proceso ante los registros civiles de la República Dominicana para asentar el
                  divorcio, usted deberá realizar el proceso de la transcripción de su Acta de Divorcio Americana
                  (Traducir su Acta de Divorcio del Inglés al español) y hacer una sentencia con un abogado en la
                  República Dominicana.</p>
              </div>

            </div>
          </div>









          <hr>

        </div>
      </div>
      </div>

  </aside>
</section>




<% include ../partials/footer %>