
<% include ../partials/header %>

<div class="jumbotron text-center wow fadeInUp">

   <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
   <h1 class=" font-weight-normal"style="color:white">Doble ciudadanía</h1>


 </div>


<section id="services">

 <div class="container">
   
   <div class="row">
     
        <div class="col-lg-12">
         <div class="box wow fadeInUp" data-wow-delay="0.2s">
         
         <h4 class="title"><a href="">¿Que es la Doble ciudadania?</a></h4>
       <p class="text-justify">
        Todos los hijos de Dominicanos (padre y/o madre) nacidos en el exterior tienen derecho a ser documentados como Ciudadanos Dominicanos por vía de sus padres, sin tener que trasladarse a la República Dominicana. Esta facilidad en línea es ofrecida por el Consulado General de la República Dominicana en Nueva York, coordinada por su Ventanilla de Nuevos Dominicanos, para facilitarle el proceso a la comunidad Dominicana de realizar este importante trámite y sus beneficios añadidos.          </p>

         </div>
       </div>


       <div class="col-lg-6 wow fadeInUp">
        <iframe src="https://www.youtube.com/embed/gWv6px4g5uM"
        width="100%" height="315" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6 wow fadeInUp">
        <iframe src="https://www.youtube.com/embed/dBWZiuVu-xE"
        width="100%" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
     
     
     
       <div class="col-lg-12">
        <div class="box wow fadeInUp" data-wow-delay="0.2s">
        
        <h4 class="title"><a href="">Requisitos para aplicar</a></h4>
      <p class="text-justify">
        -Acta de Nacimiento en extensa (Long Form) para fines de Apostilla*
    </p>
    <p class="text-justify">
        -Copia de la Cédula o Pasaporte Dominicano o Acta de Nacimiento del Padre o Madre Dominicano(a)
    </p>
    <p class="text-justify">
        A los nacidos dentro de los 5 condados de la ciudad de Nueva York (es decir: Bronx, Manhattan, Brooklyn, Queens y Staten Island) deben también solicitar la Hoja de Ejemplificación junto con el Acta de Nacimiento en Office of Vital Records, 125 Worth St., CN-4, Room 133, New York, NY. 10036 o haz clic aquí para mas informacíon.
    </p>
    
        </div>
      </div> 


      <div class="col-lg-12">
        <div class="box wow fadeInUp" data-wow-delay="0.2s">
        
        <h4 class="title"><a href="">Tiempo de Entrega</a></h4>
      <p class="text-justify">
        -Traducción Consular: 2-3 días laborables.
    </p>
    <p class="text-justify">
        -Apostilla: 2-3 días laborales
    </p>
    <p class="text-justify">
        -Transcripción Acta en la JCE: 90 días o menos
    </p>
    <p class="text-justify">
        Nota: El servicio comienza cuando todos los documentos y el pago se han realizado con éxito.
    </p>
    
        </div>
      </div> 
     
     
    
       
       
       
         
   <div class="col-lg-12">
       <div class="box wow fadeInUp" data-wow-delay="0.2s">
         
         <h4 class="title"><a href="">Contacto</a></h4>
         <div class = "row">
         <div class="col-md-6">
       <div class="contact-phone text-center">
         <a href="tel:+1212-768-2480"><i class="fa fa-4x fa-phone"></i></a>
         <h3>Numero de teléfono</h3>
         <p><a href="tel:+1212-768-2480" class="btn btn-primary" style=" color: white">212-768-2480</a></p>
       </div>
     </div>

     <div class="col-md-6">
       <div class="contact-email text-center">
         
         <a href="mailto:cultura@consuladord-ny.org"><i class="fa fa-4x fa-envelope-o"></i></a>
         <h3>Correo electronico</h3>
         <a href="mailto:salud@consuladord-ny.org" class="btn btn-primary" style=" color: white">jpaulinoa@consuladord-ny.org</a>
       </div>
       </div>
       <div class="col-lg-12 text-center">
         <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-3x fa-twitter" ></i></a>
   <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa fa-3x fa-facebook" ></i></a>
   <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa fa-3x fa-instagram" ></i></a>
   <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa fa-3x fa-google-plus"></i></a>
   </div>
     </div>

         </div>
         </div>
     
     </div>
   </div>
   </section>
   



 
   
   
   




<% include ../partials/footer %>

 