<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127459332-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127459332-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Consulado Digital NY</title>

    <!-- Bootstrap core CSS -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               
         <link rel=" stylesheet" href="/stylesheet/principal.css">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar  navbar-light bg-light">
<div class="container">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="LOGO CONSULADO Estados Unidos-01.png" width="30" height="30" class="d-inline-block align-top" alt="">
 
  </a> <a class="navbar-brand" href="/">Consulado Dominicano NY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       
      <li class="nav-item active">
        <a class="nav-link" href="/pasaporte">Pasaporte <span class="sr-only"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cedula">Cédula</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acta">Acta de Nacimiento</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/legal">Poderes</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/traducciones">Traducciones</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/apostilla">Apostilla</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/visa">Visa</a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/consulgeneral">Cónsul General</a>
      </li>
      
        <li class="nav-item">
        <a class="nav-link" href="/noticias">Consulado al Día</a>
      </li>
      
  
    </ul>
  </div>
</nav>
</div>
</nav>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Horarios laborables: Lunes a Viernes 9:00 AM - 3:30PM / Sabados 9:00 AM - 1:30PM</a> 
    <a href="https://www.facebook.com/consuldomny/"> <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/consuldom_ny/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a> 
    <a href="https://twitter.com/consuldom_ny?lang=es"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
   <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</div>
			
			 
    </nav>



  <div class="jumbotron text-center">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px"><h1 class="display-4 font-weight-normal" style="color:white">Ciudad Juan Bosch</h1>
        
  
     
      </div>
    <div> 
    <img src="programa-de-gobierno-interno-CIUDAD-JUAN-BOSCH_02_02.jpg"  width="100%" >
    </div>
    
   <br>
              
      <div class="row">
        <div class="col-md-12">
          
          <div class="card container flex-md-row mb-4 box-shadow h-md-250">
             
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary"><h1>¿Que es la Ciudad Juan Bosch?</h1></strong>
              <h3 class="mb-0">
               
              </h3>
              
             
              <p class="card-text mb-auto text-justify">Es un proyecto de viviendas dignas y de bajo costo que ejecuta el Gobierno en alianza con el sector privado para reducir el déficit habitacional en el país y democratizar el acceso de las familias a un techo propio.

Se construye en un área de 3.6 millones de metros cuadrados y consta de viviendas entre los RD$900 mil y los RD$2.4 millones.

Hoy hay ya 7,800 viviendas vendidas, 500 familias residiendo y alrededor de 700 niños y adolescentes tomando clases en Ciudad Juan Bosch.

Más de 3,000 están en construcción y 2,000 completamente finalizadas.

Están terminados la estación de Bomberos y Destacamento Policial.</p>
              
            </div>
            
            
           
          </div>
          
        </div>
       
        
        <div class="col-lg-6 col-md-6 col-sm-6 col-xm-12">
       <div class="card container flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary "><h1 class>Ciudad Juan Bosch</h1></strong>
              
              <h3 class="mb-0">
               
              </h3>
              
             
              
              

<br>

  <h2>FACILIDAD DE ADQUISICIÓN</h2>
  <p class="card-text mb-auto text-justify">Para los adquirientes, el Estado entrega un inicial de 2 bonos, el bono ITBIS y el Bono Tierra, que aportan entre un 10% y un 12% del valor de la vivienda.

Las tasas de pago son a 9% por 20 años, revisables cada 4 años hasta un tope de 12%.

En su primera etapa, el proyecto contará con tres escuelas básicas, dos liceos secundarios, tres estancias infantiles, un hospital de cuarenta camas, parques recreativos y deportivos, un centro de atención primaria, un hipermercado, varias plazas comerciales, un centro de capacitación laboral, dos destacamentos de policía y dos de bomberos, centros para envejecientes y para adultos con discapacidad.

Cuenta con transporte público colectivo a través de autobuses de la Oficina Metropolitana de Servicios de Autobuses (OMSA) que permiten a residentes, visitantes y obreros trasladarse eficientemente los 7 días de la semana desde y hacia Ciudad Juan Bosch.
Los residentes se sumarán a un programa de clasificación, manejo y recolección de residuos sólidos

En el parque de ventas, se reciben a los interesados en conocer el proyecto y adquirir su primera vivienda, ofertada por más de 20 desarrolladores.</p>
              
              
              
              <br>
              <h2>ALIANZA PÚBLICO-PRIVADA</h2>
  <p class="card-text mb-auto text-justify">Se trata de una alianza público-privada para mejorar la vida de la gente. El sector público aportó los terrenos, desarrolla la infraestructura vial, de agua potable, sanitaria y eléctrica y los equipamientos sociales e institucionales como escuelas, centros de salud, destacamentos de policía y bomberos, parques, y otros. Mientras que el sector privado aporta la construcción y venta de las viviendas y las áreas comerciales.</p>
              
                <br>
              <h2>PARQUE ECOLÓGICO</h2>
  <p class="card-text mb-auto text-justify">Los residentes contarán con un parque ecológico de 113 mil metros cuadrados de terreno que serán espacios de preservación y conocimiento de especies nativas.

El Parque estará atravesado por un Sendero Ecológico de casi dos kilómetros de largo. Este, gozará de un iguanario, tres observatorios de aves, un serpentario y un mariposario, todo acompañado de un paisaje de plantas endémicas y nativas del país.

Habrá tres lagos, el más grande, de 4,500 metros cuadrados donde se criarán peces y otros animales acuáticos, y habrá pequeños botes para dar paseos. Un segundo donde se criarán y conservarán ejemplares de iguana, y un tercero, el cual se dedicará a la crianza y preservación de aves nativas acuáticas, como patos, gansos y flamencos.

Además tendrá varios edificios totalmente equipados que servirán de enseñanza a los alumnos de las escuelas talleres sobre el parque y sobre los recursos naturales del país.</p>
              
            </div>
            </div>
            <div id="accordion">
    
     
    <div>
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#one">
         Charlas informativas
        </a>
      </div>
      <div id="one" class="collapse" data-parent="#accordion">
        <div class="card-body">
        
    <img src="informativo.png" width="100%"  class="d-inline-block align-top" alt="">
    
    
          
                
             <a href="https://docs.google.com/forms/d/e/1FAIpQLSd49YVz8lyWY-BzHoHtw0ro2yl8_KahXQ1GHY8MRQIWB0m3Ug/viewform?usp=sf_link"><button type="button" class="btn btn-success "><strong>Formulario de Registración</strong></button></a>
        </div>
      </div>
    </div>
        </div>
        
        
         <div id="accordion">
    
     
    <div>
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#2">
       Contacto
        </a>
      </div>
      <div id="2" class="collapse" data-parent="#accordion">
        <div class="card-body">
         <ul>
           <li><i class="fa fa-envelope" aria-hidden="true"></i> inmobiliaria@consuladord-ny.org</li>
          <li><i class="fa fa-whatsapp" aria-hidden="true"></i> 212-768-2482 </li>           
         </ul>
    
        </div>
      </div>
    </div>
        </div>
        </div>
        
          <div class="col-md-6">
         <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/Cis_1GzzZUs?rel=0;&autoplay=1" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/Yje9XXnLVOY" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>
</div>
   
</div>
<br>
<br>
<div class="row">
<div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/ZJde3Iq-NQY" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>
        
        <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/3jKJO2p2TXk" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>

<div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/ZPYhxPuSC8k" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>
</div>

<br>
<br>
<div class="row">
<div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/jvNzGuqP_qA" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>
        
        <div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/vRM6xfLwchU" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>

<div class="col-md-4">
    <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/i4_L5fXp7zQ" width="50%" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
</div>     
</div>
</div>
        

       <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <ul class="list-unstyled text-small">
             <h5>Informaciones</h5>
            <li><a class="text-muted" href="#">Horarios Laborables</a></li>
            <li><a class="text-muted" href="#">Lunes a Viernes</a></li>
            <li><a class="text-muted" href="#">9:00am a 3:30pm</a></li>
            <li><a class="text-muted" href="#">Sábados</a></li>
            <li><a class="text-muted" href="#">9:00am a 1:30pm</a></li>
            <li><a class="text-muted" href="#">Tel:212-768-2480</a></li>
            <li><a class="text-muted" href="#">E:info@consuladord-ny.org</a></li>
          </ul>
          <small class="d-block mb-3 text-muted">&copy; GS</small>
        </div>
        <div class="col-6 col-md">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.facebook.com/consuldomny/">Facebook</a></li>
            <li><a class="text-muted" href="https://www.instagram.com/consuldom_ny/">Instagram</a></li>
            <li><a class="text-muted" href="https://twitter.com/consuldom_ny?lang=es">Twitter</a></li>
            <li><a class="text-muted" href="https://www.youtube.com/channel/UC1PPtl8K473bS8Wih29HfRA">Youtube</a></li>
      
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/pasaporte">Pasaporte</a></li>
            <li><a class="text-muted" href="/legal">Poderes</a></li>
            <li><a class="text-muted" href="/traducciones">Traducciones</a></li>
            <li><a class="text-muted" href="/apostilla">Apostilla</a></li>
            <li><a class="text-muted" href="/visa">Visa</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Oficinas Externas</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/externa">New Jersey</a></li>
            <li><a class="text-muted" href="/externa">Pennsylvania</a></li>
            <li><a class="text-muted" href="/externa">Connecticut</a></li>
            <li><a class="text-muted" href="/externa">Bronx</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Otras Instituciones</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://presidencia.gob.do/">Presidencia de la República Dominicana </a></li>
            <li><a class="text-muted" href="http://www.mirex.gob.do/">Ministerio de Relaciones Exteriores</a></li>
            <li><a class="text-muted" href="http://mitur.gob.do/">Ministerio de Turismo</a></li>
        
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script type="text/javascript" src="app.js"></script>
  </body>
</html>
