
  	<% include ../partials/header %>
      <div class="jumbotron text-center wow fadeInUp">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class="display-4 font-weight-normal" style="color:white">Ventanilla de Cultura</h1>
    
     
      </div>
      <section id="services">
     
      <div class="container">
        <div class="row">
     <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">¿Que es la Ventanilla de Cultura?</a></h4>
                            <p class="text-justify">El Departamento de Cultura tiene como objetivo central la promoción y difusión del arte y la cultura en sus diversas manifestaciones, estimulando la participación de la comunidad en actividades que fortalezcan el desarrollo cultural y la recreación de todos los habitantes residentes en su jurisdicción. Para el logro de sus objetivos, el Departamento promueve y coordina iniciativas de fomento del folclor, la literatura, el teatro, la música, el canto, la danza, el baile, las artes plásticas, la artesanía y otras áreas de la cultura y la recreación, sea a través de la gestión propia o mediante el apoyo a entidades culturales interesadas en similares objetivos.</p>

            </div>
          </div>
          
          
           <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              
              
              <h4 class="title"><a href="">La Cultura Dominicana</a></h4>
 <p class="text-justify">La cultura de la República Dominicana en cuanto a su pueblo y costumbres se nutre de la mezcla de raíces españolas, africanas y tainas. La República Dominicana de esta fue la primera colonia española en el Nuevo Mundo. Ciertas enfermedades traídas por los colonizadores españoles que eran desconocidas para los habitantes nativos prácticamente eliminaron a la mayoría de los indígenas Tainos de la isla; por lo que los colonizadores comenzaron a importar cantidades muy grandes de esclavos africanos para reemplazar a los nativos. 
  <a href="https://es.wikipedia.org/wiki/Cultura_de_la_Rep%C3%BAblica_Dominicana"><strong>seguir leyendo</strong></button></a></p>
  <br>

                        <div class="text-center">
                         <img src="https://upload.wikimedia.org/wikipedia/commons/7/7f/Merengue_Dominicano.jpg" width="50%" class="d-inline-block align-top" alt="">
                  </div>
       
            </div>
          </div>
          
          
          <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              
              
              <h4 class="title"><a href="">Historia de Republica Dominicana</a></h4>
 <div class="card-body">
          <ul>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Era_pre_colombina">Era pre colombina</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#%C3%89poca_colonial_(1492_-_1821)">Época colonial (1492 - 1821)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Primera_Independencia_(1821_-_1822)">Primera Independencia (1821 - 1822)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Ocupaci%C3%B3n_haitiana_(1822_-_1844)">Ocupación haitiana (1822 - 1844)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Segunda_Independencia_y_Primera_Rep%C3%BAblica_(1844_-_1861)">Segunda Independencia y Primera República (1844 - 1861)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Anexi%C3%B3n_a_Espa%C3%B1a_y_restauraci%C3%B3n_dominicana_(1861_-_1865)">Anexión a España y restauración dominicana (1861 - 1865)</a>	</li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Segunda_Rep%C3%BAblica_(1865_-_1916)">Segunda República (1865 - 1916)</a>	</li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Primera_ocupaci%C3%B3n_estadounidense_(1916_-_1924)">Primera ocupación estadounidense (1916 - 1924)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Tercera_Rep%C3%BAblica_(1924_-_1965)">	Tercera República (1924 - 1965)</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#La_inestabilidad_post-dictadura_(1962-1964)_y_segunda_ocupaci%C3%B3n_estadounidense_(1965)">La inestabilidad post-dictadura (1962-1964) y segunda ocupación estadounidense (1965)</a>	</li>
            <li><a href="https://es.wikipedia.org/wiki/Historia_de_la_Rep%C3%BAblica_Dominicana#Cuarta_Rep%C3%BAblica_(1966_-_actualidad)">	Cuarta República (1966 - actualidad)</a></li>
          </ul>
       
    
        </div>

                     
       
            </div>
          </div>
    
    
    
      
        
                 
        <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Contacto</a></h4>
              <div class = "row">
              <div class="col-md-6">
            <div class="contact-phone text-center">
              <a href="tel:+1212-768-2480"><i class="fa fa-4x fa-phone"></i></a>
              <h3>Numero de teléfono</h3>
              <p><a href="tel:+1212-768-2480" class="btn btn-primary" style=" color: white">212-768-2480</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-email text-center">
              
              <a href="mailto:cultura@consuladord-ny.org"><i class="fa fa-4x fa-envelope-o"></i></a>
              <h3>Correo electronico</h3>
              <a href="mailto:salud@consuladord-ny.org" class="btn btn-primary" style=" color: white">salud@consuladord-ny.org</a>
            </div>
            </div>
            <div class="col-lg-12 text-center">
              <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-3x fa-twitter" ></i></a>
        <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa fa-3x fa-facebook" ></i></a>
        <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa fa-3x fa-instagram" ></i></a>
        <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa fa-3x fa-google-plus"></i></a>
        </div>
          </div>

              </div>
              </div>
        
        
          
        
        
        
        
        
        
         
        
        
        
        
         
       

    
     
  
        </div>
        </div>
        
        <a href="javascript:history.back()">Go Back</a>
        </div>
        </div>
        </div>
        </section>
        
        

   	<% include ../partials/footer %>

