

  
<% include ../partials/header %>

 <div class="jumbotron text-center">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class="display-4 font-weight-normal" style="color:white">Departamento de Asuntos Comunitarios</h1>
    
     
      </div>

<section id="services">
     
      <div class="container">
        
        <div class="row">
          
           <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">¿Que es el departamento de Asuntos Comunitarios?</a></h4>
            <p class="text-justify">
El Departamento de Asuntos Comunitarios se encarga de  dar seguimiento a los programas diseñados para mejorar las condiciones de vida de los Dominicanos que viven en nuestra circunscripción a través de programas de educación, salud, cultura, educación financiera y deportes.
              </div>
            </div>
            
            
             <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Objetivo</a></h4>
            <p class="text-justify">
Promover y facilitar la realización de proyectos conjuntos, así como servir de enlace entre comunidades Dominicanas y de origen Dominicano en los Estados Unidos con personas e instituciones nacionales, tanto públicas como privadas. Procurar una mejor imagen de Republica Dominicana,a través de una adecuada difusión de sus luchas y logros,e impulsar el conocimiento y respeto y trato digno que merecen nuestros connacionales.             </div>
            </div>
          
          
                    
        <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Contacto</a></h4>
              <div class = "row">
              <div class="col-md-6">
            <div class="contact-phone text-center">
              <a href="tel:+1212-768-2480"><i class="fa fa-4x fa-phone"></i></a>
              <h3>Numero de teléfono</h3>
              <p><a href="tel:+1212-768-2480" class="btn btn-primary" style=" color: white">212-768-2480</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-email text-center">
              
              <a href="mailto:cultura@consuladord-ny.org"><i class="fa fa-4x fa-envelope-o"></i></a>
              <h3>Correo electronico</h3>
              <a href="mailto:comunidad@consuladord-ny.org" class="btn btn-primary" style=" color: white">comunidad@consuladord-ny.org</a>
            </div>
            </div>
            <div class="col-lg-12 text-center">
              <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-3x fa-twitter" ></i></a>
        <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa fa-3x fa-facebook" ></i></a>
        <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa fa-3x fa-instagram" ></i></a>
        <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa fa-3x fa-google-plus"></i></a>
        </div>
          </div>

              </div>
              </div>
          
          </div>
          </div>
          </section>

  
    
    
    
    
   
  

    <% include ../partials/footer %>