<% include ../partials/header %>

    <div class="jumbotron text-center wow fadeInUp">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class="display-4 font-weight-normal" style="color:white">Oficinas de Gestiones de Documentos</h1>
    
     
      </div>
    
    
     <section id="services">
     
      <div class="container">
        
        <div class="row">
          
          
          <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Oficinas de Gestiones de Documentos</a></h4>
            <p class="text-justify">
Oficinas de Gestión de Documentos, para los trámites  de servicios consulares  como: Pasaporte, Actos Notariales o Poderes , Traducciones , Apostillas , Informaciones de Visa y más; facilitando el acceso a los servicios que ofrece el Consulado Dominicano en la Ciudad de Nueva York             </p>

              </div>
            </div>
            
            
            
             <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
                
                <div class="row">
                  
              <div class="col-md-6">
              <h4 class="title"><a href="">Paterson</a></h4>
            <p class="text-justify">
              <div class="container mb-4">
							 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3014.96882256935!2d-74.17402618458321!3d40.916429479310224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fdcb39bca471%3A0x14e239f25c6cc482!2sConsulate+of+the+Dominican+Republic!5e0!3m2!1sen!2sus!4v1537625587519" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="https://www.google.com/maps/dir//40.9163033,-74.1717729/@40.916303,-74.171773,16z?hl=en-US" class="btn btn-primary btn-lg btn-block">Llegar al consulado dominicano</a> 
      </div>
       
            <div class="contact-phone text-center">
              <i class="fa fa-2x fa-phone"></i>
              </div>
              <div class="text-center">
              <a href="tel:+1(973)684-7491" class="btn btn-success" style=" color: white">(973)684-7491</a>
              </div>
            
          
</div>
<br>


<br>
<br>
 <div class="col-md-6">
              <h4 class="title"><a href="">Bronx</a></h4>
            <p class="text-justify">
              <div class="container mb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3019.5177382540287!2d-73.92087948466872!3d40.81659023914745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f5cf340390cb%3A0x5a2669bdbab587e0!2s369%20E%20149th%20St%2C%20The%20Bronx%2C%20NY%2010455!5e0!3m2!1sen!2sus!4v1583938400322!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="https://goo.gl/maps/A7d4VS6ucWeprdNV8" class="btn btn-primary btn-lg btn-block">Llegar al consulado dominicano</a> 
      </div>
       
            <div class="contact-phone text-center">
              <i class="fa fa-2x fa-phone"></i>
              </div>
              <div class="text-center">
              <a href="tel:+1(718)561-8184" class="btn btn-success" style=" color: white">(718)561-8184</a>
               <a href="tel:+1(929)363-0523" class="btn btn-success" style=" color: white">(929)-363-0523</a>
              </div>
            
          
</div>


              </div>
              </div>
            </div>
            
            
            
               <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
                
                <div class="row">
                  
              <div class="col-md-6">
              <h4 class="title"><a href="">Pensylvania</a></h4>
            <p class="text-justify">
              <div class="container mb-4">
							 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.6959594453297!2d-75.13763848461134!3d39.99289937941663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c81ef3642e8b%3A0xff855fcc740a70d2!2sConsulado+Dominicano+Philadelphia+(Servicios+Comunitarios+Pensilvania)!5e0!3m2!1sen!2sus!4v1537625677747" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="https://goo.gl/maps/fR3itmX6ynx" class="btn btn-primary btn-lg btn-block">Llegar al consulado dominicano</a> 
      </div>
       
            <div class="contact-phone text-center">
              <i class="fa fa-2x fa-phone"></i>
              </div>
              <div class="text-center">
              <a href="tel:+1(215)203-7220" class="btn btn-success" style=" color: white">(215)203-7220</a>
              </div>
            
          
</div>
<br>


 <div class="col-md-6">
              <h4 class="title"><a href="">Haverstraw</a></h4>
            <p class="text-justify">
              <div class="container mb-4">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3570.192045220131!2d-73.96492151397895!3d41.196448290204756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2c46c33b11ae5%3A0x5e6f45c5f3e0e473!2s40+Broadway%2C+Haverstraw%2C+NY+10927!5e0!3m2!1sen!2sus!4v1551872587116" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>      <a href="https://www.google.com/maps/dir//41.1979705,-73.9645064/@41.197971,-73.964506,16z?hl=en-US" class="btn btn-primary btn-lg btn-block">Llegar al consulado dominicano</a> 
      </div>
       
            <div class="contact-phone text-center">
              <i class="fa fa-2x fa-phone"></i>
              </div>
              <div class="text-center">
              <a href="tel:+1(845)796-9900" class="btn btn-success" style=" color: white">(845)796-9900</a>
              </div>
            
          
</div>




              </div>
              </div>
            </div>
          
          
          
          </div>
          </div>
          </section>
    
    
    
   
      


<% include ../partials/footer %>
       