

	<% include ../partials/header %>

  <!--==========================
    Intro Section
  ============================-->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  
  
  <main id="main">

    <div class="jumbotron text-center wow fadeInUp">
   
      <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" >
      <h1 class=" font-weight-normal"style="color:white">Bienvenido a la página oficial del Consulado General de la Republica Dominicana en la ciudad de Nueva York.</h1>
    </div>
  

    <section id="services">
      <div class="container">
      <div class="row d-flex justify-content-center">

        <div class="col-md-6">
          <div class="box wow fadeInUp justify-content-center "> 
            <div class="icon"><a href="https://salty-brook-71006.herokuapp.com/services" ><i class="fa fa-calendar" ></i></a></div>
            <h3 class="title" ><a href="https://salty-brook-71006.herokuapp.com/services">Hacer cita en línea</a></h3>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box wow fadeInUp justify-content-center">
            <div class="icon" ><a href="https://api.whatsapp.com/send?phone=9148268091"><i class="fa fa-whatsapp" ></i></a></div>
            <h3 class="title" ><a href="https://api.whatsapp.com/send?phone=9148268091" >CHATBOT</a></h3>
          </div>
        </div>
       
</div>
   </div>
      </section>

  
    
    
     <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class ="row">
        <div class="section-header">
          <h2>Ultimas noticias</h2>
           <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-3x fa-twitter" ></i></a>
        <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa fa-3x fa-facebook" ></i></a>
        <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa fa-3x fa-instagram" ></i></a>
        <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa fa-3x fa-google-plus"></i></a>
          <p>Síguenos en nuestras redes sociales, para mantenerse informado de todas las noticias y eventos que tiene el consulado dominicano en la ciudad de new york además coméntanos tu experiencia en el consulado para seguir mejorando o en caso de dudas.</p>
        </div>
     
    
        <div class="col-lg-12" >
          <div class="row">
          <div class="col-md-6">
            <div class="box wow fadeInUp">
              <img src="cita.png" >
            </div>
          </div>
          <div class="col-md-6">
        <div class="fb-page" data-href="https://www.facebook.com/consuldomny" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
      </div>
    </div>
  </div>          
            
      
</div>
    </div>
    </section>
 




    
    <!-- #services -->

 
    
    
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Servicios</h2>
          <p>Descubre todos los servicios que ofrece el Consulado Dominicano en la Ciudad de Nueva York</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInUp">
              <div class="icon"><a href="/pasaporte"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/pasaporte">Pasaporte</a></h4>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInUp">
              <div class="icon"><a href="/cedula"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/cedula">Cédula</a></h4>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="/acta"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/acta">Acta de Nacimiento</a></h4>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="/legal"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/legal">Poderes o Actos Notariales</a></h4>
            </div>
          </div>
          
          
          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="/traducciones"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/traducciones">Traducciones</a></h4>
            </div>
          </div>
          
          
          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="/apostilla"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/apostilla">Apostilla</a></h4>
            </div>
          </div>
          
          
          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="/visa"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/visa">Visas</a></h4>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><a href="http://yosoydominicano.org/"><i class="fa fa-book"></i></a></div>
              <h4 class="title"><a href="/yosoydominicano">Ciudadanía dominicana</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->
    
    
    
     <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Ventanillas Consulares</h2>
          
        </div>

        <div class="row">
          
  
	
	
	 <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Asuntos Comunitarios</h4>
                                    <p class="card-text">El Departamento de Asuntos Comunitarios se encarga de  dar seguimiento ...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Asuntos Comunitarios</h4>
                                                                        <p class="card-text">El Departamento de Asuntos Comunitarios se encarga de  dar seguimiento a los programas diseñados para mejorar las condiciones de vida de los Dominicanos que viven en nuestra circunscripción a través de programas de educación</p>

  <a href="/comunidad" class="btn btn-light">Mas Información</a>                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
         
         
<div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Cultura</h4>
                                    <p class="card-text">El Departamento de Cultura tiene como objetivo central la promoción....</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Cultura</h4>
                                    <p class="card-text">El Departamento de Cultura tiene como objetivo central la promoción y difusión del arte y la cultura en sus diversas manifestaciones, estimulando la participación</p>
                                    <a href="/cultura" class="btn btn-light">Mas Información</a>  
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




<div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Salud</h4>
                                    <p class="card-text">La Ventanilla de Salud es un programa que busca facilitar el acceso a los servicio....</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Salud</h4>
                                    <p class="card-text">La Ventanilla de Salud es un programa que busca facilitar el acceso a los servicios de salud y al mismo tiempo generar una cultura de prevención información y participación en materia</p>
                                    <a href="/salud" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUpt">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Ventanilla Inmobiliaria</h4>
                                    <p class="card-text">La ventanilla inmobiliaria es una Cartera de proyectos inmobiliarios netamente...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ventanilla Inmobiliaria</h4>
                                    <p class="card-text">La ventanilla inmobiliaria es una Cartera de proyectos inmobiliarios netamente informativa y otra de Educación legal y financiera sobre el proceso de compra de bienes para la protección de la inversión</p>
                                    <a href="/inmobiliaria" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Oficinas de Gestiones Externa</h4>
                                    <p class="card-text">Oficinas de Gestión de Documentos...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Oficinas de Gestiones Externa</h4>
                                    <p class="card-text">Oficinas de Gestión de Documentos, para los trámites  de servicios consulares  como: Pasaporte, Actos Notariales o Poderes , Traducciones</p>
                                    <a href="/externa" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         

   <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Operativos Consulares</h4>
                                    <p class="card-text">Con el objetivo de facilitar los servicios consulares a otras localidades,...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Operativos Consulare</h4>
                                    <p class="card-text">Con el objetivo de facilitar los servicios consulares a otras localidades, el Consulado General de la República Dominicana en la Ciudad de Nueva York, realiza los operativos consulares.</p>
                                    <a href="/operativo" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

      </div>
      
    </section><!-- #services -->

   

    <!--==========================
      Our Portfolio Section
    ============================-->
   
    
    
    

   


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contacto</h2>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <a href="https://www.google.com/maps/dir//40.757019,-73.9869/@40.757019,-73.9869,16z?hl=en-US"><i class="ion-ios-location-outline"></i></a>
              <h3>Dirección</h3>
              <address><a href="https://www.google.com/maps/dir//40.757019,-73.9869/@40.757019,-73.9869,16z?hl=en-US" class="btn btn-primary" style=" color: white">1501 Broadway Piso 4r New York, NY 10036</a>  </address>
              
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <a href="tel:+1212-768-2480"><i class="ion-ios-telephone-outline"></i></a>
              <h3>Numero de teléfono</h3>
              <p><a href="tel:+1212-768-2480" class="btn btn-primary" style=" color: white">212-768-2480</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <a href="mailto:info@consuladord-ny.org"><i class="ion-ios-email-outline"></i></a>
              <h3>Correo electronico</h3>
              <p><a href="mailto:info@consuladord-ny.org" class="btn btn-primary" style=" color: white">info@consuladord-ny.org</a></p>
            </div>
          </div>

        </div>
        <div class="section-header">
          <h2>Ubicación</h2>
        </div>
      </div>

      <div class="container mb-4">
							 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.2275815489784!2d-73.9890886845881!3d40.757018979326986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fdcb3a7011a1%3A0x197733ab6cd0a0de!2sConsulado+Dominicano+en+Nueva+York!5e0!3m2!1sen!2sus!4v1537626230330" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      <a href="https://www.google.com/maps/dir//40.757019,-73.9869/@40.757019,-73.9869,16z?hl=en-US" class="btn btn-primary btn-lg btn-block">Llegar al consulado dominicano</a> 
      </div>
     
      
    </section><!-- #contact -->
    
    
    
 
    
    
  
    <section id="services">
      <div>
        <div class="section-header">
          <h5>Guía de Servicios de Emergencia en Nueva York</h5>
          
        </div>




        <div class="col-lg-12">
        <div class="row">
          
          <div class="col-md-4">
           
              
            <div class="box wow fadeInUp">
              <object data="https://drive.google.com/file/d/1ijoHw6dG86CK_sgmhOeiKWGBPHwOwTnl/preview"  width="100%" height="800">
                <embed src="https://drive.google.com/file/d/1ijoHw6dG86CK_sgmhOeiKWGBPHwOwTnl/preview" width="100%" height="500px" />
                    <p>This browser does not support PDFs. Please download the PDF to view it: <a href="https://drive.google.com/file/d/1ZKgZhUuBr_-nLnbpExhQmqKCx_1QqxT2/preview">View the PDF</a>.</p>
                </embed></object>
                <a href="Guia de Servicios de Emergencia en Nueva York.pdf" class="container"> <button type="button" class="btn btn-warning">Descargar Guía</button></a>
            </div>
          </div>

         
          
          <div class="col-md-4">
            <div class="box wow fadeInUp">
              <img src="GUIA8.PNG" width="100%" class="d-inline-block align-top" alt="">
            </div>
            <div class="box wow fadeInUp">
              <img src="GUIA8.PNG" width="100%" class="d-inline-block align-top" alt="">
            </div>
          </div>
          <div class="col-md-4">
            <div class="box wow fadeInUp">
              <img src="GUIA8.PNG" width="100%" class="d-inline-block align-top" alt="">
            </div>
            <div class="box wow fadeInUp">
              <img src="GUIA8.PNG" width="100%" class="d-inline-block align-top" alt="">
            </div>
          </div>



          

        </div>
        </div>

      </div>
    </section>

    
  </main>

	<% include ../partials/footer %>