<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127459332-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127459332-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Consulado Republica Dominicana en New York</title>

    <!-- Bootstrap core CSS -->
   <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               
         <link rel=" stylesheet" href="/stylesheet/principal.css">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
  </head>

  <body>
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    
     <nav class="navbar  navbar-light bg-light">
<div>
  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="LOGO CONSULADO Estados Unidos-01.png" width="30" height="30" class="d-inline-block align-top" alt="">
 
  </a> <a class="navbar-brand" href="/">Consulado Dominicano NY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
       
      <li class="nav-item active">
        <a class="nav-link" href="/pasaporte">Pasaporte <span class="sr-only"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cedula">Cédula</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/acta">Acta de Nacimiento</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/legal">Poderes</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/traducciones">Traducciones</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/apostilla">Apostilla</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/visa">Visa</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Programación de citas en línea
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="citap">Pasaporte</a>
          <a class="dropdown-item" href="cital">Poderes</a>
         
           <a class="dropdown-item" href="citaA">Apostilla</a>
         
         
        </div>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/consulgeneral">Cónsul General</a>
      </li>
      
        <li class="nav-item">
        <a class="nav-link" href="/noticias">Consulado al Día</a>
      </li>
      
  
    </ul>
  </div>
</nav>
</div>
</nav>
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Horarios laborables: Lunes a Viernes 9:00 AM - 3:30PM / Sabados 9:00 AM - 1:30PM</a> 
    <a href="https://www.facebook.com/consuldomny/"> <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/consuldom_ny/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a> 
    <a href="https://twitter.com/consuldom_ny?lang=es"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
   <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</div>
			
			 
    </nav>


<div class="jumbotron">
   <div class="container">
     <h2 class=" font-weight-normal " style="color:white"> <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"auto"> Bienvenidos a la Página Oficial del Consulado Dominicano en Nueva York</h2>
   
       
       
        
     <p class="item-1" style="color:white">Toda nuestra información y contenido ha sido actualizado </p>

<p class="item-2" style="color:white">Te invitamos a que conozcas todos los servicios que ofrece el consulado </p>

<p class="item-3" style="color:white">Todas las noticias e información en nuestro periódico digital Consulado al día</p>
     </div>
      </div>
      
   
     
       
 
<div class="container">
  
  
    <div class="row">
      
      
      
      <div class="hover col-lg-6 col-md-6 col-sm-12 col-xm-12">
<a href="https://www.eventbrite.com/e/duarte-honors-2019-reconociendo-los-nuestros-en-el-mes-de-la-herencia-dominicana-nyc-tickets-56447774814">
  <img  src="DUARTE.jpg" alt="Card image" style="width:100%" height="100%">  </a>      </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12">
      
      
      
     <div class="card img-fluid " style="width:1100px">
    <img  src="programa-de-gobierno-interno-CIUDAD-JUAN-BOSCH_02_02.jpg" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      
      <nav class="navbar navbar-light bg-light">
<h4 class="card-title" >Ciudad Juan Bosch</h4>
 <p id="hello" >Viviendas dignas y de bajo costo que ejecuta el Gobierno en alianza con el sector privado para reducir el déficit habitacional en el país.</p>
      <a href="/ciudad-juan-bosch" class=" btn btn-primary" style=" color: white">Mas Información</a>
</nav>
     
    </div>
  </div>
  
  
  <div class="card img-fluid " style="width:1100px">
    <a href="/ciudad-juan-bosch"><img src="ciudad-juan-bosch-portada.jpg" alt="Card image" style="width:100%" height="100%"></a>
   
  </div>
  
  </div>
  </div>
  
  
  <br>
  
  
  <div class="row">
    
    
    
    <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12">
      
           <div class="card img-fluid" style="width:1024px">
    <img src="https://i1.wp.com/elnuevodiario.com.do/wp-content/uploads/2017/08/Desfile-Dominicano-1024x550.jpg" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
 <h4 class="card-title" >Departamento de Asuntos Comunitarios</h4>
      
     
     <a href="/comunidad" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
  </div>
  
  
   
      
      	
   
   
      
     <div class="col-lg-4 col-md-6 col-sm-6 col-xm-6">
      
         
           <div class="card img-fluid" style="width:1024px">
    <img src="http://hablemosdeculturas.com/wp-content/uploads/2017/12/Cultura-Dominicana-01.jpg" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
  <h4 class="card-title">Ventanilla de Cultura</h4>
      
     
     <a href="/cultura" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
 
							  
      </div>
    
   

   <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12">
     
      <div class="card img-fluid" style="width:1024px">
    <img src="logo.jpg" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
  <h4 class="card-title">Ventanilla de Salud</h4>
      
     
     <a href="/salud" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
       
							
							
      </div>
     </div>
     <br>
     <br>
     <div class="row">
   
    <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12">
      
        <div class="card img-fluid" style="width:1024px">
    <img src="ciudad-juan-bosch-portada.jpg" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
  <h4 class="card-title">Ventanilla Inmobiliaria</h4>
      
     
     <a href="/inmobiliaria" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
  
       

      </div>
   
    <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12">
       <div class="card img-fluid" style="width:1024px">
    <img src="LOGO CONSULADO Estados Unidos-01.png" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
 <h4 class="card-title">Oficinas de Gestiones Externas</h4>
 <p class="card-text"> Bonx,Paterson,Pensylvania..</p>
      
     
     <a href="/externa" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
      
       
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-12 col-xm-12">
        
         <div class="card img-fluid" style="width:1024px">
    <img src="LOGO CONSULADO Estados Unidos-01.png" alt="Card image" style="width:100%" height="100%">
    <div class="card-img-overlay">
      <nav class="navbar navbar-light bg-light">
 <h4 class="card-title">Operativos Consulares</h4>
  <p class="card-text">Acercando los servicios consulares a la Comunidad.</p>
      
     
     <a href="/operativo" class=" btn btn-primary" style=" color: white">Mas Información</a>
    
    </div>
  </div>
  
      
      </div>
      
      
      
      
      
   
      
</div>
<br>
<br>

 <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 text-center">
      
      	<div class="panel">
      	  <h1 class="blog-header-logo text-dark" href="#">Cómo llegar al Consulado Dominicano en Manhattan</h1>
							 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.2275815489784!2d-73.9890886845881!3d40.757018979326986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fdcb3a7011a1%3A0x197733ab6cd0a0de!2sConsulado+Dominicano+en+Nueva+York!5e0!3m2!1sen!2sus!4v1537626230330" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
							  <div class="card-block">
							    
							   
							  </div>
							</div>
      </div>
<br>
<hr>


 <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            
          </div>
          <div class="col-4 text-center">
            <h1 class="blog-header-logo text-dark" href="#">Consulado Al Día</h1>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <hr>
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">ConsuladoNY</a>
          <a class="p-2 text-muted" href="#">U.S.</a>
          <a class="p-2 text-muted" href="#">Rep .Dom</a>
          <a class="p-2 text-muted" href="#">Instituciones de Gobierno</a>
          <a class="p-2 text-muted" href="#">Turismo Rep. Dom</a>
          <a class="p-2 text-muted" href="#">Negocios</a>
          <a class="p-2 text-muted" href="#">Consul General</a>
          <a class="p-2 text-muted" href="#">Opinion</a>
      
        </nav>
      </div>

      <div class="jumbotron  text-white rounded bg-dark">
        <div class="row">
        <div class="col-md-6 px-0">
          <h1 class="display-5 font-italic">CELEBRAN CON ÉXITO LA GRAN PARADA DOMINICANA DEL BRONX</h1>
          <p class="lead my-3">Millares de dominicanos con bandera en mano se apoderaron de la avenida Gran Concourse para celebrar el 29 aniversario de la Gran Parada Dominicana del Bronx, su orgullo patrio, el arte, la cultura y la herencia dominicana en esa ciudad</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
                <div class="col-md-6 px-1">
                  <img class="flex-auto d-none d-lg-block" src="parada.jpg"  width="85%"alt="Card image cap">
        
        </div>
      </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="Panel container flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">ConsuladoNy</strong>
               <img class="card-img-right flex-auto d-none d-lg-block" src="unnamed.jpg"  width="100%"alt="Card image cap">
              <h3 class="mb-0">
                
                <a class="text-dark" href="#">Consulado Rep. Dominicana NY inaugura Mural Foklórico Digital</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">El cónsul general de la República Dominicana en esta ciudad, Carlos Castillo, inauguró un Mural Folklórico Digital en memoria de la folklorista Normandía Maldonado, a quien definió como una embajadora de la cultura en su país y en los Estados Unidos.</p>
              <a href="#">Continue reading</a>
            </div>
           
          </div>
        </div>
        <div class="col-md-6">
          <div class="Panel container flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">ConsuladoNy</strong>
               <img class="card-img-right flex-auto d-none d-lg-block" src="unnamed (1).jpg"  width="100%"alt="Card image cap">
              <h3 class="mb-0">
                
                <a class="text-dark" href="#">Vendrán al país estudiantes reconocidos por el Consulado dominicano en Nueva York</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">Diez estudiantes dominicanos de escuelas del Noreste de Estados Unidos, que junto a otros 388 fueron reconocidos con la Medalla al Mérito por el cónsul general, Carlos Castillo, viajarán a la República Dominicana, donde visitarán centros educativos y lugares históricos.</p>
              <a href="#">Continue reading</a>
            </div>
            
            
            

</div>
</div>

<br>
<hr>
<hr>
<div class="col-lg-12">
<hr>  
 <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
           
          </div>
          <div class="col-4 text-center">
            <h1 class="blog-header-logo text-dark" href="#">Redes Sociales</h1>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
          
          </div>
        </div>
      </header>
      
       <div class="nav-scroller py-1 mb-2">
        <hr>
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="#">Facebook</a>
          <a class="p-2 text-muted" href="#">Twitter</a>
          <a class="p-2 text-muted" href="#">Instagram</a>
          <a class="p-2 text-muted" href="#">Youtube</a>
          <a class="p-2 text-muted" href="#">Fotos</a>
          <a class="p-2 text-muted" href="#">Videos</a>
          <a class="p-2 text-muted" href="#">Eventos</a>
          <a class="p-2 text-muted" href="#">Opinion</a>
      
        </nav>
      </div>
      </div>
<hr>
<div class="col-md-6">
            <div class="fb-page" data-href="https://www.facebook.com/consuldomny/" data-tabs="timeline" data-width="1080" data-height="1080" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/consuldomny/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/consuldomny/">Consulado Dominicano en NY</a></blockquote></div>
  </div>          
            
          <div class="col-md-6">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BmHm_lIHJUE/?utm_source=ig_embed" data-instgrm-version="9" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BmHm_lIHJUE/?utm_source=ig_embed" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Representando el Consulado Dominicano en el 14 aniversario de los Puertoplateños en Nueva York. Gracias y nuestras felicitaciones para su Presidente Manny Burgos y la Directiva por el gran esfuerzo para llevar acabo este encuentro. #QueVivaPuertoPlata #GenteBuena #ConsulCarlosCastillo #TuConsulado #consuldomny</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/consuldom_ny/?utm_source=ig_embed" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Consulado Dominicano en NY</a> (@consuldom_ny) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-08-06T01:24:38+00:00">Aug 5, 2018 at 6:24pm PDT</time></p></div></blockquote> <script async defer src="//www.instagram.com/embed.js"></script>
             <div class="embed-responsive embed-responsive-16by9">
  <iframe src="https://www.youtube.com/embed/jEiCXc5-cfM" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
  </div>
</div>
<br>
<br>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <ul class="list-unstyled text-small">
             <h5>Informaciones</h5>
            <li><a class="text-muted" href="#">Horarios Laborables</a></li>
            <li><a class="text-muted" href="#">Lunes a Viernes</a></li>
            <li><a class="text-muted" href="#">9:00am a 3:30pm</a></li>
            <li><a class="text-muted" href="#">Sábados</a></li>
            <li><a class="text-muted" href="#">9:00am a 1:30pm</a></li>
            <li><a class="text-muted" href="#">Tel:212-768-2480</a></li>
            <li><a class="text-muted" href="#">E:info@consuladord-ny.org</a></li>
          </ul>
          <small class="d-block mb-3 text-muted">&copy; GS</small>
        </div>
        <div class="col-6 col-md">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.facebook.com/consuldomny/">Facebook</a></li>
            <li><a class="text-muted" href="https://www.instagram.com/consuldom_ny/">Instagram</a></li>
            <li><a class="text-muted" href="https://twitter.com/consuldom_ny?lang=es">Twitter</a></li>
            <li><a class="text-muted" href="https://www.youtube.com/channel/UC1PPtl8K473bS8Wih29HfRA">Youtube</a></li>
      
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/pasaporte">Pasaporte</a></li>
            <li><a class="text-muted" href="/legal">Poderes</a></li>
            <li><a class="text-muted" href="/traducciones">Traducciones</a></li>
            <li><a class="text-muted" href="/apostilla">Apostilla</a></li>
            <li><a class="text-muted" href="/visa">Visa</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Oficinas Externas</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/externa">New Jersey</a></li>
            <li><a class="text-muted" href="/externa">Pennsylvania</a></li>
            <li><a class="text-muted" href="/externa">Connecticut</a></li>
            <li><a class="text-muted" href="/externa">Bronx</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Otras Instituciones</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://presidencia.gob.do/">Presidencia de la República Dominicana </a></li>
            <li><a class="text-muted" href="http://www.mirex.gob.do/">Ministerio de Relaciones Exteriores</a></li>
            <li><a class="text-muted" href="http://mitur.gob.do/">Ministerio de Turismo</a></li>
        
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script type="text/javascript" src="app.js"></script>
  </body>
</html>
