
<% include ../partials/header %>



<div class="jumbotron">
  <div class="row jumbotron-row-style">
      <div class="col-12 col-md-12 jumbotron-text">
          <div class="img-jumbotron-container">
              <img class="logo-jumbotron img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="">
          </div>
          <p>El Consulado General de la República Dominicana en Nueva York dispone de las informaciones sobre los proyectos inmobiliarios que se desarrollan en el país en favor de la comunidad criolla en el exterior.</p>
          <p>Si desea conocer los detalles de los modelos de viviendas u otras edificaciones en construcción, favor pulsar el siguiente botón.</p>
          <div class="text-center">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYK_GBeJzjbJ8_xfeP3P4zqt2h5e8EZShMXte4gd5r5_UxSg/viewform"><button type="button" class="btn   btn-info"> Pulse aquí para abrir el formulario</button></a>
          </div>
      </div>
     
      </div>
  </div>

</div>


<section id="services">

  <div class="container">

      <div class="row">

          <div class="col-lg-5 services-fadeInUp-container">
              <div class="box wow fadeInUp position-relative fadeInUp-styles" data-wow-delay="0.2s">

                  <h4 class="title"><a href="">¿QUÉ ES LA VENTANILLA INMOBILIARIA?</a></h4>
                  <p>
                      La ventanilla inmobiliaria es una cartera de proyectos inmobiliarios netamente informativa y otra de Educación legal y financiera sobre el proceso de compra de bienes para la protección de la inversión.
                  </p>
                  <p>
                      Iniciática que parte de los esfuerzos del Cónsul General Carlos A. Castillo, para ampliar los servicios de asistencia y protección a la comunidad Dominicana en la ciudad de Nueva York.
                  </p>
              </div>
          </div>

          <div class="col-sm-7 services-img-container">
              <img class="img-fluid" src="imagen-principal.jpg" alt="">
          </div>
      </div>
  </div>

  <div class="container-fluid proyectos-colunm-styles">
      <div class="row margin-proyect-row">
          <div class="col-sm-12 text-center">
              <h2 class="proyect-title">PROYECTO CIUDAD JUAN BOSCH</h2>
          </div>
          <div class="col-5 col-md-6 col-lg-4">
              <span class="btn-proyectos btn-active uno">VIVIENDAS DIGNAS Y A BAJO COSTO</span>
              <span class="btn-proyectos dos">FACILIDAD DE ADQUISICIÓN</span>
              <span class="btn-proyectos tres">ALIANZA PÚBLICO-PRIVADA</span>
              <span class="btn-proyectos cuatro">PARQUE ECOLÓGICO</span>
          </div>
          <div id="viviendas-dignas" class="proyect-toggle col-7 col-md-6 col-lg-8">
              <div class="row">
                  <div class="col-12 col-lg-6 img-proyect-container mb-1">
                      <img class="img-fluid img-proyecto" src="imagen-proyecto-ciudad-juan-bosch-2.jpg"
                          alt="">
                  </div>
                  <div class="col-md-12 col-lg-6 proyec-description">
                      <p>
                          Es un proyecto de viviendas dignas y de bajo costo que ejecuta el Gobierno en alianza con el sector privado para reducir el déficit habitacional en el país y democratizar el acceso de las familias a un techo propio.
                      </p>
                      <p>
                          Se construye en un área de 3.6 millones de metros cuadrados y consta de viviendas entre los RD$900 mil y los RD$2.4 millones. Hoy hay ya 7,800 viviendas vendidas, 500 familias residiendo y alrededor de 700 niños y adolescentes tomando clases en Ciudad Juan Bosch. Más de 3,000 están en construcción y 2,000 completamente finalizadas.
                      </p>
                      <p>
                          Están terminados la estación de Bomberos y Destacamento Policial. El centro educativo escuela básica Profesor Juan Bosch, está en funcionamiento, acogiendo a los jóvenes de la Cuidad Juan Bosch.
                      </p>
                  </div>
              </div>
          </div>

          <div id="felicidad-adquisicion" class="proyect-toggle col-7 col-md-6 col-lg-8 d-none">
              <div class="row">
                  <div class="col-12 col-lg-6 img-proyect-container mb-1">
                      <img class="img-fluid img-proyecto" src="imagen-proyecto-ciudad-juan-bosch-3.jpg"
                          alt="">
                  </div>
                  <div class="col-md-12 col-lg-6 proyec-description">
                      <p>
                          Para los adquirientes, el Estado entrega un inicial de 2 bonos, el bono ITBIS y el Bono Tierra, que aportan entre un 10% y un 12% del valor de la vivienda. Las tasas de pago son a 9% por 20 años, revisables cada 4 años hasta un tope de 12%.
                      </p> 
                      <p>
                          En su primera etapa, el proyecto contará con tres escuelas básicas, dos liceos secundarios, tres estancias infantiles, un hospital de cuarenta camas, parques recreativos y deportivos, un centro de atención primaria, un hipermercado, varias plazas comerciales, un centro de capacitación laboral, dos destacamentos de policía y dos de bomberos, centros para envejecientes y para adultos con discapacidad.
                      </p>
                      <p>
                          Cuenta con transporte público colectivo a través de autobuses de la Oficina Metropolitana de Servicios de Autobuses (OMSA) que permiten a residentes, visitantes y obreros trasladarse eficientemente los 7 días de la semana desde y hacia Ciudad Juan Bosch. 
                      </p>
                      <p>
                          Los residentes se sumarán a un programa de clasificación, manejo y recolección de residuos sólidos En el parque de ventas, se reciben a los interesados en conocer el proyecto y adquirir su primera vivienda, ofertada por más de 20 desarrolladores.
                      </p>
                  </div>
              </div>
          </div>

          <div id="alianza-publico-privada" class="proyect-toggle col-7 col-md-6 col-lg-8 d-none">
              <div class="row">
                  <div class="col-12 col-lg-6 img-proyect-container mb-1">
                      <img class="img-fluid img-proyecto" src="imagen-proyecto-ciudad-juan-bosch-5.jpg"
                          alt="">
                  </div>
                  <div class="col-md-12 col-lg-6 proyec-description">
                      <p>
                          Se trata de una alianza público-privada para mejorar la vida de la gente. El sector público aportó los terrenos, desarrolla la infraestructura vial, de agua potable, sanitaria y eléctrica y los equipamientos sociales e institucionales como escuelas, centros de salud, destacamentos de policía y bomberos, parques, y otros. 
                      </p>
                      <p>
                          Mientras que el sector privado aporta la construcción y venta de las viviendas y las áreas comerciales.
                      </p>
                  </div>
              </div>
          </div>

          <div id="parque-ecologico" class="proyect-toggle col-7 col-md-6 col-lg-8 d-none">
              <div class="row">
                  <div class="col-12 col-lg-6 img-proyect-container mb-1">
                      <img class="img-fluid img-proyecto" src="imagen-proyecto-ciudad-juan-bosch-6.jpg"
                          alt="">
                  </div>
                  <div class="col-md-12 col-lg-6 proyec-description">
                      <p>
                          Los residentes contarán con un parque ecológico de 113 mil metros cuadrados de terreno que serán espacios de preservación y conocimiento de especies nativas. El Parque estará atravesado por un Sendero Ecológico de casi dos kilómetros de largo. Este, gozará de un iguanario, tres observatorios de aves, un serpentario y un mariposario, todo acompañado de un paisaje de plantas endémicas y nativas del país. 
                      </p>
                      <p>
                          Habrá tres lagos, el más grande, de 4,500 metros cuadrados donde se criarán peces y otros animales acuáticos, y habrá pequeños botes para dar paseos. Un segundo donde se criarán y conservarán ejemplares de iguana, y un tercero, el cual se dedicará a la crianza y preservación de aves nativas acuáticas, como patos, gansos y flamencos. 
                      </p>
                      <p>
                          Además tendrá varios edificios totalmente equipados que servirán de enseñanza a los alumnos de las escuelas talleres sobre el parque y sobre los recursos naturales del país.
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="line"></div>
      <div class="row margin-proyect-row">
          <div class="col-md-6">
              <iframe width="100%" height="98%" src="https://www.youtube.com/embed/Rf2xno3iNmo" frameborder="0" style="border:none;overflow:hidden" scrolling="no"  allowfullscreen></iframe>
          </div>


          <div class="col-md-6">
              <iframe src="https://www.youtube.com/embed/gGujF9dVquI" width="100%" height="316"
                  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                  allowFullScreen="true"></iframe>
          </div>
      </div>
  </div>

  <div class="row margin-proyect-row next-proyect-row pr-4 pl-4 d-none">
      <div class="col-sm-12">
          <h2 class="proyect-title text-center">PRÓXIMAMENTE NUEVOS PROYECTOS</h2>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pr-2 pl-2">
          <div class="proyect-card-container">
              <div class="proyect-card-header">
                  <img class="img-fluid" src="imagen-propiedad.jpg" alt="">
              </div>
              <div class="proyect-card-description">
                  <div class="proyect-card-description-body">
                      <h3>TORRES DEL SOL</h3>
                      <h4>SANTIAGO DE LOS CABALLEROS</h4>
                      <p class="date">Fecha de entrega: <span>Agosto 2020</span> </p>
                      <p class="building">Unidades habitacionales: <span>115</span></p>
                      <hr />
                  </div>
                  <div class="proyect-card-description-footer">
                      <div class="precio">
                          <p>PRECIO DESDE</p>
                          <p>RD$ 2,356,000</p>
                      </div>
                      <div class="btn">
                          <a href="#">CONTACTE AL DESARROLLADOR</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pr-2 pl-2">
          <div class="proyect-card-container">
              <div class="proyect-card-header">
                  <img class="img-fluid" src="imagen-propiedad.jpg" alt="">
              </div>
              <div class="proyect-card-description">
                  <div class="proyect-card-description-body">
                      <h3>TORRES DEL SOL</h3>
                      <h4>LA VEGA</h4>
                      <p class="date">Fecha de entrega: <span>Agosto 2020</span> </p>
                      <p class="building">Unidades habitacionales: <span>115</span></p>
                      <hr />
                  </div>
                  <div class="proyect-card-description-footer">
                      <div class="precio">
                          <p>PRECIO DESDE</p>
                          <p>RD$ 2,356,000</p>
                      </div>
                      <div class="btn">
                          <a href="#">CONTACTE AL DESARROLLADOR</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4 pl-2">
          <div class="proyect-card-container">
              <div class="proyect-card-header">
                  <img class="img-fluid" src="imagen-propiedad.jpg" alt="">
              </div>
              <div class="proyect-card-description">
                  <div class="proyect-card-description-body">
                      <h3>TORRES DEL SOL</h3>
                      <h4>DISTRITO NACIONAL</h4>
                      <p class="date">Fecha de entrega: <span>Agosto 2020</span> </p>
                      <p class="building">Unidades habitacionales: <span>115</span></p>
                      <hr />
                  </div>
                  <div class="proyect-card-description-footer">
                      <div class="precio">
                          <p>PRECIO DESDE</p>
                          <p>RD$ 2,356,000</p>
                      </div>
                      <div class="btn">
                          <a href="#">CONTACTE AL DESARROLLADOR</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="line2"></div>

  <div class="row margin-proyect-row memorandum">
      <div class="col-12 col-md-7 m-auto memorandum-header">
          <h2 class="proyect-title text-center mb-3">PARA DESARROLADORES</h2>
          <p class="text-center">Descubra los <span>memorandos de entendimientos</span> entre el Consulado de la
              República Dominicana en Nueva York y los desarrolladores privados.</p>
      </div>
      <div class="w-100"></div>
      <div class="col-12 col-md-6 memorandum-card">
          <div class="img-container">
              <img class="img-fluid" src="icono-1.png" alt="">
              <img class="img-text" src="text1.png" alt="">
          </div>
          <div class="info-container">
              <h4>MEMORÁNDUM DE ENTENDIMIENTO</h4>
              <p>Entre el consulado de la República Dominicana en Nueva York y los desarrolladores de Ciudad Juan
                  Bosch.</p>
              <a class="memorandum-btn" href="memorandun-de-entendimiento-ciudad-juan-bosch.pdf">DESCARGAR PDF</a>
          </div>
      </div>

      <div class="col-12 col-md-6 memorandum-card">
          <div class="img-container">
              <img class="img-fluid" src="icono-2.png" alt="">
              <img class="img-text" src="text.png" alt="">
          </div>
          <div class="info-container">
              <h4>MEMORÁNDUM DE ENTENDIMIENTO</h4>
              <p>Entre el consulado de la República Dominicana en Nueva York y los desarrolladores privados.</p>
              <a class="memorandum-btn" href="memorandun-de-entendimiento-promotores-privados.pdf">DESCARGAR PDF</a>
          </div>
      </div>
  </div>
</section>
     
        
        
        
      
        

    <% include ../partials/footer %>