
	
<% include ../partials/header %>

<div class="jumbotron text-center color-white jumbotron-fluid ">
  <div class="container">
       <img src="LOGO CONSULADO Estados Unidos-01.png"  width="18%" height"50px";>
    <h1 class="display-4 font-weight-normal" style="color:white" >Estudiantes Meritotrio</h1>
    <p class="lead" style="color:white">“Reconocimiento al Estudiante Meritorio"</p>
  </div>
</div>



<div class="container">
    <div class="row">
        
  <div class="col-lg-12 col-md-12">
    <div class="wow fadeInUp">
     
      <div class="content">

       
        <h4><strong>Información</strong></h4>
        <hr />
        <ul class="nav nav-tabs stats text-uppercase" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">¿Qué es?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Informacion del evento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Como participar</a>
    </li>
    
   </ul>
        
      </div>
    </div>
  </div>
  
  <div class="col-lg-12 col-md-12 col-sm-12 main-content">
       <section id="services">
     
      <div class="container">
        
        <div class="row">
   <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
    
    
     <div class="col-lg-12">
              <div class="boxi wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">RESEÑA ESTUDIANTE MERITORIO
</a></h4>
            <p class="text-justify">
       El Consulado General de la República Dominicana en New York,  celebra por 22 años el evento “Reconocimiento al Estudiante Meritorio ” , como una forma de estimular a nuestros   jóvenes dominicanos con alto índice académico que integran las Regionales de Educación de la ciudad de New York, New Jersey, Connecticut y Pennsylvania  entregándoles medalla y pergamino de reconocimiento. 
            </p>
            
            <p class="text-justify">
                Este  magno evento, es el único que se celebra de esta índole en todos los Estados Unidos de Norteamerica. Se inició un 19 de junio  del año de 1997, en conmemoración del centenario de la insigne poeta y educadora dominicana Salome Ureña de Henríquez, con apenas 20 estudiantes de los distritos escolares 6 , bajo la Supervisión en aquel entonces del Dr. Anthony Amato y en el Distrito 9 Dirigido por Maria Santoria Guasp
            </p>
              </div>
            </div>
           
           
            <div class="container">
            <div class="row">
                 <div class="col-lg-12">
              <div class="boxi wow fadeInUp" data-wow-delay="0.2s">
              
            
            <p class="text-justify">
            Al  año siguiente, fuimos un poco más ambiciosos y decidimos integrar algunos distritos escolares de la ciudad de New York, donde se concentraban la mayor cantidad de dominicanos algunas escuelas Secundarias y estudiantes provenientes de Perth Amboy y Newark. Un año después se integraron los 32 distritos escolares de NY, las escuelas públicas de  NJ y Connecticut; y hoy en Dia el Reconocimiento Estudiante Meritorio se ha institucionalizado en los estados de New York, New Jersey , Connecticut, y Pennsylvania gracias al apoyo del sistema educativo que es la encargada de seleccionar los estudiantes.

</p>
              </div>
            </div>
            
             
             
              
           
                     
            </div>
            </div>
            
            
            <div class="container">
            <div class="row">
                 <div class="col-lg-12">
              <div class="boxi wow fadeInUp" data-wow-delay="0.2s">
              
            
            <p class="text-justify">
El culmen de esta actividad es la visita de  10  estudiantes a la Republica Dominicana, para allí ser reconocidos por el excelentísimo Sr. Presidente de la Republica. 


</p>

<p class="text-justify">
    Este evento ha contado desde su creación con el apoyo del Gobierno Dominicano, así como el financiero de instituciones públicas y privadas, quienes se han identificado con esta noble causa.
Este año la actividad se celebrara el 5 de  junio, en el Great Hall, Shepard Hall de la Universidad de City College.

El Honorable Cónsul Carlos Castillo,  entre otras personalidades reconocerán a mas de 500 estudiantes provenientes de los Estados de  New York, Yonkers, Haverstraw, North Rockland, New Jersey, Connecticut y Pennsylvania , entregándoles la medalla y un certificado al Merito estudiantil. 

    </p>
              </div>
            </div>
            </div>
            </div>
            
             
            
             
    

    </div>
    
    
    <div id="menu1" class="container tab-pane fade"><br>
    
    <div class="col-lg-12">
              <div class="boxi" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Informacion del evento</a></h4>
            <p class="text-justify">
                <ul>
                    <li>El reconocimiento al Estudiante Meritorio  tendrá lugar en el mes de Junio en el Great  Hall, Shepard Hall del City College, ubicado en el 140 Convent Ave., Manhattan.</li>
                    <li>Los estudiantes, acompañados de  sus padres  y amigos deberán estar presentes en la actividad a las 4:00 p.m.</li>
                    <li>A las 4:30 p.m. los estudiantes  tendrán una merienda previa a la ceremonia, la cual empezará puntual a las 6:00 p.m.</li>
                    <li>Se les entregará a las 5:00 p.m. los certificados  (reales) para evitar conglomeración al final del evento.
</li>
                    <li>A las 5:15 p.m. en compañía del Honorable  Cónsul General, tendrán una sesión de fotos para la prensa</li>
                    <li>Los estudiantes deberán estar correctamente vestidos. Las niñas falda  negra y blusa  blanca; los varones pantalón Negro, camisa blanca y corbata negra.
</li>
                   
                    <li>Se les solicita mantener el orden en la actividad, por lo que contamos con la colaboración de los padres y los coordinadores bilingües</li>
                    <li>Podrán llevar cámaras de video, cámaras fotográficas etc.</li>
                    <li>La ceremonia finalizará a las 8:30 p.m., por lo que  recomendamos no irse antes de finalizar el evento.</li>
                    
                    
                    
                </ul>

              </div>
            </div>
     </div>
    
    
    <div id="menu2" class="container tab-pane fade"><br>
    
    <div class="col-lg-12">
              <div class="boxi" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Como participar</a></h4>
                <p class="text-justify"> 
                
                 EL Consulado General de la  República Dominicana en New York,  ha elaborado éste instructivo como una forma de crear las pautas a seguir en lo que concierne a la selección de los estudiantes que serán reconocidos en el evento Estudiante Meritorio:
                </p>
                
                <ul>
                    <li>Los estudiantes seleccionados serán dominicanos o de origen dominicano.</li>
                    <li>Integrarán las escuelas públicas del sistema educativo de los Estados Unidos. En el caso que nos concierne New York, New Jersey,Connecticut y Pennsylvannia.</li>
                    <li>Participarán niños, niñas  y adolescentes del nivel básico, a partir del 5to grado, medio y secundario.</li>
                    <li>Deberán tener un índice escolar de 95 a 100 (penúltima evaluación). En casos excepcionales se aceptarán estudiantes con índice académico de 90, solicitados por el Director de la Escuela</li>
                    <li>Se les enviara una comunicación y hojas de nominación al Superintendente de Distrito, informándoles del evento, quien deberá notificar a los Principales de las escuelas donde se concentran la mayor cantidad de dominicanos.</li>
                    <li>Los estudiantes deberán ser seleccionados por la escuela donde estudian, enviando la hoja de nominación con el sello de la escuela, el record de notas (penultima nota) y una carta de recomendación por parte del Principal, consejero o maestro del estudiante al distrito.
</li>
                    <li>Se solicitara la  selección de 5 estudiantes dominicanos por los Distritos en la ciudad de New York y 15 por los distritos escolares de New Jersey  Connecticut  y Pennsylvannia donde se concentran la mayor cantidad de dominicanos. Se hará una excepción en cuanto al número de estudiantes en los Distritos Escolares de la ciudad de New York donde se concentra la mayor cantidad de dominicanos.
</li>
                    <li>Los participantes, además de tener un alto índice académico, deberán destacarse en trabajos comunitarios y en la escuela, liderazgo y actividades extracurriculares</li>
                    <li>No podrán participar los hijos de los organizadores del evento</li>
                    <li>El Consulado no tendrá ninguna intromisión en lo que respecta a la selección de los estudiantes. Deberán ser seleccionados por la escuela y aprobados por el Distrito.</li>
                    <li>El Consulado General de la República Dominicana actuará de manera imparcial en lo que respecta a la selección. Cada padre deberá acercarse a su escuela,  o distrito para la selección del estudiante.
</li>
                     <li>Una vez recibidas las hojas de nominación y el record de notas, la sede consular actuará en buena fe, aceptando la nominación como buena y válida.
</li>
                      <li>El Consulado se reserva el derecho de no aceptar y/o rechazar nominaciones que no hayan cumplido con los requerimientos especificados o con los criterios de selección indicados, o no haber sido entregados en la fecha limite.</li>
                       
                    
                </ul>

              </div>
            </div>
    
    </div>
    
    
     
     
   
   
   
  

   
    </div>
  </div>
</div>

  </div>
  </div>
  </div>
  
  
  

  
  
  
  
  
  
  
    </div>
    </section>
    
    <br>
    <br>
    <div class="section-header">
          <h2>Imagenes del evento</h2>
         
        </div>
      <section id="services">
     
      
        
        <div class="row">
          
          
          <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio6.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
            
            
            
             <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
            
            
            
              <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio2.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
             
             
            
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio4.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
            
            
            
            
            
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio5.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
            
            
             <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
             
               
                 <img src="meritorio6.jpg"  class="img-fluid" alt="">
             
              </div>
            </div>
            
            
            
           <div class="container">
             <section id="services">
      <div class="container">
        <div class="section-header">
          <h2>Otros programs</h2>
          
        </div>

        <div class="row">
          
  
	
	
	 <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="nyc.jpg" alt="card image"></p>
                                    <h4 class="card-title">Work, Learn & Grow Employment Program</h4>
                                    <p class="card-text">The Work, Learn & Grow Emp ...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Work, Learn & Grow Employment Program</h4>
                                                                        <p class="card-text">The Work, Learn & Grow Employment Program (WLG) is a New York City Council-funded initiative designed to build off of the experiences gained in the Summer Youth Employment Program (SYEP).</p>

  <a href="https://www1.nyc.gov/site/dycd/services/jobs-internships/work-learn-grow-employment-program.page" class="btn btn-light">Mas Información</a>                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         
         
         
<div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="nyc2.png" alt="card image"></p>
                                    <h4 class="card-title">NYC Ladders for Leaders</h4>
                                    <p class="card-text">The Ladders for Leaders is a nationally recognized program ....</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">NYC Ladders for Leaders</h4>
                                    <p class="card-text">The Ladders for Leaders is a nationally recognized program that offers high school and college students the opportunity to participate in paid professional summer internships with leading corporations, non-profit organizations and government agencies in New York City.</p>
                                    <a href="https://www1.nyc.gov/site/dycd/services/jobs-internships/nyc-ladders-for-leaders.page" class="btn btn-light">Mas Información</a>  
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




<div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Salud</h4>
                                    <p class="card-text">La Ventanilla de Salud es un programa que busca facilitar el acceso a los servicio....</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Salud</h4>
                                    <p class="card-text">La Ventanilla de Salud es un programa que busca facilitar el acceso a los servicios de salud y al mismo tiempo generar una cultura de prevención información y participación en materia</p>
                                    <a href="/salud" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUpt">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Ventanilla Inmobiliaria</h4>
                                    <p class="card-text">La ventanilla inmobiliaria es una Cartera de proyectos inmobiliarios netamente...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Ventanilla Inmobiliaria</h4>
                                    <p class="card-text">La ventanilla inmobiliaria es una Cartera de proyectos inmobiliarios netamente informativa y otra de Educación legal y financiera sobre el proceso de compra de bienes para la protección de la inversión</p>
                                    <a href="/inmobiliaria" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Oficinas de Gestiones Externa</h4>
                                    <p class="card-text">Oficinas de Gestión de Documentos...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Oficinas de Gestiones Externa</h4>
                                    <p class="card-text">Oficinas de Gestión de Documentos, para los trámites  de servicios consulares  como: Pasaporte, Actos Notariales o Poderes , Traducciones</p>
                                    <a href="/externa" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         

   <div class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="LOGO CONSULADO Estados Unidos-01.png" alt="card image"></p>
                                    <h4 class="card-title">Operativos Consulares</h4>
                                    <p class="card-text">Con el objetivo de facilitar los servicios consulares a otras localidades,...</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Operativos Consulare</h4>
                                    <p class="card-text">Con el objetivo de facilitar los servicios consulares a otras localidades, el Consulado General de la República Dominicana en la Ciudad de Nueva York, realiza los operativos consulares.</p>
                                    <a href="/operativo" class="btn btn-light">Mas Información</a> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

      </div>
      
    </section><!-- #services -->
</div>
            
           
</div>
	<!-- Page Content------------------------------------------------ -->

 <% include ../partials/footer %>