<% include ../partials/header %>


     <div class="jumbotron text-center wow fadeInUp">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class="display-4 font-weight-normal" style="color:white">Operativos consulares</h1>
    
     
      </div>
    
    
    
     <section id="services">
     
      <div class="container">
        
        <div class="row">
            <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Operativos</a></h4>
            <p class="text-justify">
Oficinas de Gestión de Documentos, para los trámites  de servicios consulares  como: Pasaporte, Actos Notariales o Poderes , Traducciones , Apostillas , Informaciones de Visa y más; facilitando el acceso a los servicios que ofrece el Consulado Dominicano en la Ciudad de Nueva York             </p>

              </div>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSd49YVz8lyWY-BzHoHtw0ro2yl8_KahXQ1GHY8MRQIWB0m3Ug/viewform?usp=sf_link" class="btn btn-primary btn-lg btn-block wow fadeInUp">Completar Formulario</a> 
            </div>
            
            
            

          </div>
          </div>
          
          <br>
          <br>
          <div class="row">
             <div class="col-md-6">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
             <img src="albany.png"  width="85%">
              </div>
            </div>
            
            
            <div class="col-md-6">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
             <img src="conect.png"  width="85%">
              </div>
            </div>
            
            
            
            
        
            </div>
            
            
            
            
          </section>
    
   

   <% include ../partials/footer %>
