<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               
         <link rel=" stylesheet" href="/stylesheet/principal.css">


    <title>Consulado General de La Republica Dominicana en New York</title>
  </head>

  <body class="text-center">


<br>
<br>
<br>
<br>
      <main role="main" class="inner cover">
           <img src="LOGO CONSULADO Estados Unidos-01.png"  width="15%" height"800px";>
        <h1 class="cover-heading">Bienvenidos </h1>
        
        <div class=container>
        <p class="lead">Te damos la bienvenida a nuestra nueva pagina de internet, donde nuestro contenido ha sido actualizado, te invitamos a que conozcas toda la información de los servicios que ofrece el consulado General, todas las noticias e información en nuestro periódico digital Consulado el día</p>
        <p class="lead">
          </div>
          <a href="#" class="btn btn-lg btn-secondary">Continuar</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Copy<a href="https://getbootstrap.com/">GS</a>, by <a href="https://twitter.com/mdo">@cmpr</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script type="text/javascript" src="app.js"></script>
  </body>
</html>
