
	<% include ../partials/header %>
	
		<main>
			
			<div class="text-center">
            <img src="LOGO CONSULADO Estados Unidos-01.png" height"800px";
    width= "200px"; alt="..." class="logo">
  <h1 class="display-4 text-center">Centro de Informacion Consular</h1>
  
  
  <hr class="my-4">
 
  <p class="lead">
  	</div>
  	
  	
  	
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="34776563_2091847477751041_7512635598776041472_o.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Carlos Castillo</h4>
							    <p class="card-text">Consul General</p>
							   
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Carlos Castillo</h4>
							    <h6 class="card-subtitle text-muted">Consul General</h6>
							  </div>
							 
							  <div class="card-block">
							  	 <p class="card-text">Biografia</p>
							    <p class="card-text text-justify">Es oriundo de la provincia San José de Ocoa, situada en la región sur de la República Dominicana, nació el 7 de enero de 1964, casado, padre de tres hijos. Abogado de profesión, con licenciatura en administración de empresas y especialidad en negocios comerciales internacionales, habla tres idiomas: español, inglés y francés. Ha desarrollado una exitosa carrera política y empresarial.....</p>
							    
							    <a href="/consulgeneral" class="card-link">Mas informacion</a>
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>

			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="pasaporte.png" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Departamento</h4>
							    <p class="card-text">Pasaporte</p>
							   
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Pasaporte</h4>
							    <h6 class="card-subtitle text-muted">Informacion</h6>
							  </div>
							
							  <div class="card-block">
							    <p class="card-text">El pasaporte es el documento oficial expedido por la República Dominicana a sus ciudadanos con el fin principal de viajar al exterior y transportarse de un país a otro......</p>
							    <a href="/pasaporte" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="cedulard.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">JCE</h4>
							    <p class="card-text">Cedula</p>
							   
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Cedula</h4>
							    <h6 class="card-subtitle text-muted">Informacion</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text">La cédula es un documento de identidad y electoral obtenido a la edad de 18 años, y que otorga un número único a cada ciudadano dominicano para su identificación....</p>
							    <a href="/cedula" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="junta.png" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">JCE</h4>
							    <p class="card-text">Acta de Nacimiento</p>
							   
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Acta de Nacimiento</h4>
							    <h6 class="card-subtitle text-muted">Informacion</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text">El acta de nacimiento, con la cual el padre y la madre testifican el nacimiento de una criatura, y en la cual también eligen su nombre.....</p>
							    <a href="/Acta" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
				<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="https://image.freepik.com/free-vector/illustration-of-law-concept_53876-5911.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Poderes</h4>
							    <p class="card-text">Actos Notariales</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Poderes</h4>
							    <h6 class="card-subtitle text-muted">Actos Notariales</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">Como representantes de la República Dominicana en Nueva York, Estados Unidos de América, actuamos como NOTARIO PÚBLICO y OFICIAL DEL ESTADO CIVIL. En ese sentido, el consulado está  a disposición de la comunidad para la redacción de todo tipo de actos notariales, tales como poderes, contratos, testamentos, autorizaciones y declaraciones juradas;......</p>
							    <a href="/legal" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="https://image.freepik.com/free-vector/illustration-of-law-concept_53876-5930.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Apostilla</h4>
							    <p class="card-text">Apostilla</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Apostilla</h4>
							    <h6 class="card-subtitle text-muted">Apostilla</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">El trámite de legalización única -denominada apostilla- consiste en colocar sobre el propio documento público, o una prolongación del mismo, una Apostilla o anotación que certifique la autenticidad de la firma de los documentos públicos expedidos en un país firmante del Convenio y que deban surtir efectos en otro país firmante del mismo. Los países firmantes del Convenio de Apostilla reconocen por consiguiente la autenticidad de los documentos que se han expedido en otros países y llevan la Apostilla</p>
							    <a href="/apostilla" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="https://image.freepik.com/free-vector/international-people-speaking-different-languages_23-2147876252.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Traducciones</h4>
							    <p class="card-text">Treducciones</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Traducciones</h4>
							    <h6 class="card-subtitle text-muted">Traducciones</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">Ofrecemos el servicio de traducciones de documentos del inglés al español y del español al inglés, tanto en documentos originados en la República Dominicana como en los Estados Unidos de América.
</p>
							    <a href="/apostilla" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="https://www.securitymagazine.com/ext/resources/Default-images/Responsive-Defaults/socialmedia1-900px.jpg?1472047046" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Redes Sociales</h4>
							    <p class="card-text">Facebook</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Traducciones</h4>
							    <h6 class="card-subtitle text-muted">Traducciones</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">Ofrecemos el servicio de traducciones de documentos del inglés al español y del español al inglés, tanto en documentos originados en la República Dominicana como en los Estados Unidos de América.
</p>
							    <a href="/apostilla" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="http://www.eligeeducar.cl/wp-content/uploads/2017/10/schools-promotional-videos.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Videos</h4>
							    <p class="card-text">Para Servirle</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Traducciones</h4>
							    <h6 class="card-subtitle text-muted">Traducciones</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">Ofrecemos el servicio de traducciones de documentos del inglés al español y del español al inglés, tanto en documentos originados en la República Dominicana como en los Estados Unidos de América.
</p>
							    <a href="/apostilla" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			
			<div class="col-sm-6 col-lg-4">
        		<!-- Card Flip -->
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
							  <img class="card-img-top" src="http://medioamedio.net/wordpress/wp-content/uploads/2018/02/Campa%C3%B1a-promocional-%E2%80%9CCaminata%E2%80%9D-muestra-que-Rep%C3%BAblica-Dominicana-%E2%80%9CLo-tiene-Todo%E2%80%9D-640x360.jpg" alt="100%x180" style="height: 300px; width: 100%; display: block;" data-holder-rendered="true">
							  <div class="card-block">
							    <h4 class="card-title">Republica Dominicana</h4>
							    <p class="card-text">Lo tiene todo</p>
							 
							  </div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
							  <div class="card-block">
							    <h4 class="card-title">Traducciones</h4>
							    <h6 class="card-subtitle text-muted">Traducciones</h6>
							  </div>
							 
							  <div class="card-block">
							    <p class="card-text text-justify">Ofrecemos el servicio de traducciones de documentos del inglés al español y del español al inglés, tanto en documentos originados en la República Dominicana como en los Estados Unidos de América.
</p>
							    <a href="/apostilla" class="card-link">Mas Informacion</a>
							    
							  </div>
							</div>
						</div>
					</div>
				</div>
        		<!-- End Card Flip -->
			</div>
			
			
			
			
		</div>
	</div>
</section>


	<% include ../partials/footer %>

     