<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  

    <title>Consulado Republica Dominicana en New York</title>

    <!-- Bootstrap core CSS -->
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               
         <link rel=" stylesheet" href="/stylesheet/principal.css">

    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
  </head>

  <body>

    <nav class="site-header sticky-top py-1">
      
    <nav class="navbar  fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
    <img src="LOGO CONSULADO Estados Unidos-01.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Consulado Dominicano NY
  </a>
         <a class="py-2 d-none d-md-inline-block" href="/pasaporte">Pasaporte</a>
        <a class="py-2 d-none d-md-inline-block" href="/legal">Poderes</a>
        <a class="py-2 d-none d-md-inline-block" href="/traducciones">Traducciones</a>
        <a class="py-2 d-none d-md-inline-block" href="/apostilla">Apostilla</a>
        <a class="py-2 d-none d-md-inline-block" href="/visa">Visa</a>
        <a class="py-2 d-none d-md-inline-block" href="/consulgeneral">Consul General</a>
        <a class="py-2 d-none d-md-inline-block" href="/noticias">Consulado al Dia</a>
        </div>
      </div>
    </nav>

   <div class="jumbotron text-center">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class="display-4 font-weight-normal">Doble Ciudadania</h1>
    
     
      </div>
    
    
    
    
   
      <div class="row">
        <div class="col-md-12">
          
          <div class="card container flex-md-row mb-4 box-shadow h-md-250">
             
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Naturalizacio</strong>
              <h3 class="mb-0">
               
              </h3>
              
              <p class="card-text mb-auto">El Departamento de Asuntos Comunitarios se encarga de  dar seguimiento a los programas diseñados para mejorar las condiciones de vida de los Dominicanos que viven en nuestra circunscripción a través de programas de educación, salud, cultura, educación financiera y deportes.

 </p>
               
              
            </div>
            
             <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">Objetivo</strong>
              <h3 class="mb-0">
               
              </h3>
              
              <ul>
             <li> <p class="card-text mb-auto">Promover y facilitar la realización de proyectos conjuntos, así como servir de enlace entre comunidades Dominicanas y de origen Dominicano en los Estados Unidos con personas e instituciones nacionales, tanto públicas como privadas.</li>             
                          <li> <p class="card-text mb-auto">Procurar una mejor imagen de Republica Dominicana  en el exterior y de los mexicano-americanos en nuestro país, a través de una adecuada difusión de sus luchas y logros, e impulsar el conocimiento y respeto y trato digno que merecen nuestros connacionales.</li>             

             </ul>
            </div>
           
          </div>
        </div>
        
        
        
          
        
        
        <div class="col-md-6">
        
        <h2></h2>
  <div id="accordion">
    
     
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#1">
         Informacion de Interes
        </a>
      </div>
      <div id="1" class="collapse" data-parent="#accordion">
        <div class="card-body">
         
        
    
        </div>
      </div>
    </div>
        </div>
        </div>
        
        
         <div class="col-md-6">
        
        <h2></h2>
  <div id="accordion">
    
     
  <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#2">
         Capacitaciones
        </a>
      </div>
      <div id="2" class="collapse" data-parent="#accordion">
        <div class="card-body">
        
    
        </div>
      </div>
    </div>
        </div>
        </div>
        
        
        
        
         
        <div class="col-md-6">
        
        <h2></h2>
  <div id="accordion">
    
     
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#3">
         Organizaciones Comunitarias
        </a>
      </div>
      <div id="3" class="collapse" data-parent="#accordion">
        <div class="card-body">
         
    
        </div>
      </div>
    </div>
        </div>
        </div>
        
        
         <div class="col-md-6">
        
        <h2></h2>
  <div id="accordion">
    
     
 <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#4">
         Contacto
        </a>
      </div>
      <div id="4" class="collapse" data-parent="#accordion">
        <div class="card-body">
         <ul>
           
           <li>Email: comunidad@consuladord-ny.org</li>
           <li>Tel: 212-768-2480 ext: 1024,1055,1051 </li>
         </ul>
    
        </div>
      </div>
    </div>
        </div>
        </div>
        
        
        

   
</div>

   <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <ul class="list-unstyled text-small">
             <h5>Informaciones</h5>
            <li><a class="text-muted" href="#">Horaios Laborables</a></li>
            <li><a class="text-muted" href="#">Lunes a Viernes</a></li>
            <li><a class="text-muted" href="#">9:00am a 3:30pm</a></li>
            <li><a class="text-muted" href="#">Sabados</a></li>
            <li><a class="text-muted" href="#">9:00am a 1:30pm</a></li>
            <li><a class="text-muted" href="#">tel:212-768-2480</a></li>
            <li><a class="text-muted" href="#">E:info@consuladord-ny.org</a></li>
          </ul>
          <small class="d-block mb-3 text-muted">&copy; GS</small>
        </div>
        <div class="col-6 col-md">
          <h5>Redes Sociales</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://www.facebook.com/consuldomny/">Facebook</a></li>
            <li><a class="text-muted" href="https://www.instagram.com/consuldom_ny/">Instagram</a></li>
            <li><a class="text-muted" href="https://twitter.com/consuldom_ny?lang=es">Twitter</a></li>
            <li><a class="text-muted" href="https://www.youtube.com/channel/UC1PPtl8K473bS8Wih29HfRA">Youtube</a></li>
      
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Servicios</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/pasaporte">Pasaporte</a></li>
            <li><a class="text-muted" href="/legal">Poderes</a></li>
            <li><a class="text-muted" href="/traducciones">Traducciones</a></li>
            <li><a class="text-muted" href="/apostilla">Apostilla</a></li>
            <li><a class="text-muted" href="/visa">Visa</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Oficinas Externas</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/externa">New Jersey</a></li>
            <li><a class="text-muted" href="/externa">Pensylvania</a></li>
            <li><a class="text-muted" href="/externa">Conectic</a></li>
            <li><a class="text-muted" href="/externa">Bronx</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Otras Instituciones</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://presidencia.gob.do/">Presidencia de la Republica Dominicana</a></li>
            <li><a class="text-muted" href="http://www.mirex.gob.do/">Ministerio de Relaciones Exteriores</a></li>
            <li><a class="text-muted" href="http://mitur.gob.do/">Ministerio de Turismo</a></li>
        
          </ul>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
     <script type="text/javascript" src="app.js"></script>
  </body>
</html>
