
<% include ../partials/header %>

     <div class="jumbotron text-center wow fadeInUp">
   
        <img src="LOGO CONSULADO Estados Unidos-01.png"  width="10%" height"50px";>
        <h1 class=" font-weight-normal"style="color:white">Ventanilla de Salud</h1>
    
     
      </div>
    
    
    <section id="services">
     
      <div class="container">
        
        <div class="row">
          
             <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">¿Que es la Ventanilla de Salud?</a></h4>
            <p class="text-justify">
La Ventanilla de Salud es un programa que busca facilitar el acceso a los servicios de salud y al mismo tiempo generar una cultura de prevención, información y participación en materia de salud que lleve a prevenir enfermedades.              </p>

              </div>
            </div>
          
          
          
          
          
           <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Calendario de Visitas de las Aseguradoras Medicas </a></h4>
            
<img id="myImg" src="CalendarioABRIL2018-01.jpg" width="100%" alt="Calendario de Visitas" >
              </div>
            </div>
            
            
              <div class="col-lg-12">
              <div class="box wow fadeInUp" data-wow-delay="0.2s">
                
              <div class="icon"><img src="logo.jpg" width="60%" class="d-inline-block align-top" alt=""></div>
              <h4 class="title"><a href="">Seguro de Salud Senasa </a></h4>
            <p class="text-justify">
          Los Dominicanos Residentes en la ciudad de Nueva York podrán contar con el seguro de Salud SENASA a través de las facilidades que ofrece el Estado Dominicano , para más información sobre el Seguro de Salud SENASA puede contactarnos completando el siguiente formulario:</p>
          
          
          <div>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd49YVz8lyWY-BzHoHtw0ro2yl8_KahXQ1GHY8MRQIWB0m3Ug/viewform?usp=sf_link"><button type="button" class="btn btn-success "><strong>Formulario de Contacto</strong></button></a>
          </div>
              </div>
              
            </div>
            
              
        <div class="col-lg-12">
            <div class="box wow fadeInUp" data-wow-delay="0.2s">
              
              <h4 class="title"><a href="">Contacto</a></h4>
              <div class = "row">
              <div class="col-md-6">
            <div class="contact-phone text-center">
              <a href="tel:+1212-768-2480"><i class="fa fa-4x fa-phone"></i></a>
              <h3>Numero de teléfono</h3>
              <p><a href="tel:+1212-768-2480" class="btn btn-primary" style=" color: white">212-768-2480</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-email text-center">
              
              <a href="mailto:cultura@consuladord-ny.org"><i class="fa fa-4x fa-envelope-o"></i></a>
              <h3>Correo electronico</h3>
              <a href="mailto:salud@consuladord-ny.org" class="btn btn-primary" style=" color: white">salud@consuladord-ny.org</a>
            </div>
            </div>
            <div class="col-lg-12 text-center">
              <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-3x fa-twitter" ></i></a>
        <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa fa-3x fa-facebook" ></i></a>
        <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa fa-3x fa-instagram" ></i></a>
        <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa fa-3x fa-google-plus"></i></a>
        </div>
          </div>

              </div>
              </div>
          
          </div>
        </div>
        </section>
        
    
    
   
      
        
        
        

   


<% include ../partials/footer %>

      