<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Transcripcion de Acta de Matrimonio</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel=" stylesheet" href="/stylesheet/principal.css">
</head>


<div class="wrapper">
	<aside class="sidenav">
		<!-- fa-bars fa-ellipsis-v -->
		<a href="#menu-toggle" class="menu-toggle fas fa-atlas"><i class="fa fa-book" aria-hidden="true"></i></a>
		<nav class="sidebar">
			<main>
				<div class="text-center">
				<img src="../LOGO CONSULADO Estados Unidos-01.png" width="45%" height"60px">
				<p ="text-center">Sistema de Informacion Consular</p>
				</div>
				 <hr class="my-4">
				<p class="lead">
				<ul class="sidebar-nav">
					<li class="sidenav_link"><a href="/consulgeneral">Consul General</a></li>
					<li class="sidenav_link"><a href="/pasaporte">Pasaporte</a></li>
					<li class="sidenav_link"><a href="/cedula">Cedula</a></li>
					<li class="sidenav_link"><a href="/cedula">Acta de Nacimiento</a></li>
			
				</ul>
			</main>
		</nav>
	</aside>
	
	
	<!-- Page Content------------------------------------------------ -->
	<aside class="page-content-wrapper">
<body>
    
    
 <div class=" card container panel panel-default shadow">
    <div class="jumbotron">
         <div class="text-center"> 
           <img src="jce.png" width="15%" height="10%">
           </div>
        <h1>Transcripcion de su Acta de Matrimonio</h1>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <h4 class="text-justify">Si usted se casó en los Estados Unidos y desea obtener un acta de Matrimonio Dominicana con el fin de cambiar el apellido en su Cedula de identidad y electoral, <strong>debe de hacer el proceso de Transcripción de su Acta de Matrimonio de los Estados Unidos ante los registros civiles de la Republica Dominicana</strong>
    Todos los documentos de registro civil como las Actas de Nacimiento , Acta de Defunción , Actas de Divorcio , Actas de Matrimonio , Transcripción entre otros deben ser solicitados en las oficina de la Junta Central Electoral
    </h4>
    
  <div class="panel panel-info">
  <div class=" panel-heading"><hh4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><h4 >Existe Una extension de la Junnta central Electoral en el mismo piso del Consulado Dominicano ,la Junta Central Electoral es una Institucion totalmente independiente del consulado , por tanto sus horarios de labores como su personal son distintos a los del Consulado Dominicano </h4></div>
  
    </div>

</div>
</div>
</div>

    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="190" >
                <li class="active"><a href="#section-1">Documentos</a></li>
          
             
                <li><a href="#section-6">contactanos</a></li>
            </ul>
            
            
        </div>
        <div class="col-xs-9">
            <h2 id="section-1"><strong>Documentos Requeridos:</strong></h2>
           <h3>Para la transcripción de su acta de Matrimonio de los Estados Unidos usted necesita los siguientes documentos:</h3>
          <ol>
              <li>Acta de Matrimonio Apostillada y Traducida</li>
              <li>Una copia de cedula de identidad y electoral</li>
          </ol>
           
           <p>Estos Documentos deben ser depositados en la Oficina de La Junta Central Electoral, la cual le otorgara un numero de solicitud y el tiempo estimado para completar el servicio.</p>
          
          <div class="panel panel-warning">
  <div class=" panel-heading"><hh4><strong>Importante:</strong></h4></div>
  <div class="panel-content"><h4 >La traducción del acta de matrimonio debe ser traducida por un notario de la Republica Dominicana</h4></div>
  
    </div>
          
            
              <a><button type="button" class="btn btn-info">Traducir Acta de Matrimonio</button></a>
            <a><button type="button" class="btn btn-info">Apostillar Acta de Matrimonio</button></a>
        
        
             
               <hr>
               <h1 id="section-6"><strong>Asistencia</strong></h1>
             
                <h4>Si necesita asistencia para realizar este servicio o desea realizar su cita por internet , solo tiene que completar el siguiente formulario , donde un agente consular le asistirá en cada momento.</h4>
             <a href="https://docs.google.com/forms/d/e/1FAIpQLSd49YVz8lyWY-BzHoHtw0ro2yl8_KahXQ1GHY8MRQIWB0m3Ug/viewform?usp=sf_link"><button type="button" class="btn btn-success">Formulario de Asistencia por Internet</button></a>
        </div>
    </div>
</div>

 </aside>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../app.js"></script>
</body>
</html>           