<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Consulado Republica Dominicana en New York</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="LOGO CONSULADO Estados Unidos-01.png" rel="icon">
  <link href="LOGO CONSULADO Estados Unidos-01.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127459332-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-127459332-1');
  </script>

</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->


  <!--==========================
    Header
  ============================-->
  <div id="google_translate_element"></div>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'es' }, 'google_translate_element');
    }
  </script>
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <header id="header">

    <div class="container">

      <div id="logo" class="pull-left">
        <a class="navbar-brand " href="/">

          <img src="LOGO CONSULADO Estados Unidos-01.png" width="40px" class="d-inline-block align-top" alt="">

          Consulado Dominicano NY</a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Inicio</a></li>
          <li class="menu-has-children"><a>Servicios</a>
            <ul>
              <li><a href="https://salty-brook-71006.herokuapp.com/">Hacer cita en línea</a></li>
              <li><a href="/pasaporte">Pasaporte</a></li>
              <li><a href="https://www.crdny.com/">Consultar estatus del pasaporte</a></li>
              <li><a href="/cedula">Cédula</a></li>
              <li><a href="/acta">Acta de Nacimiento</a></li>
              <li><a href="/legal">Poderes</a></li>
              <li><a href="/traducciones">Traducciones</a></li>
              <li><a href="/apostilla">Apostilla</a></li>
              <li><a href="/visa">Visas</a></li>
              <li><a href="/yosoydominicano">Ciudadanía dominicana</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a>Ventanillas</a>
            <ul>
              <li><a href="/comunidad">Asuntos Comunitarios</a></li>
              <li><a href="/estudiantesmeritorio">Estudiantes Meritotrio</a></li>
              <li><a href="/salud">Salud</a></li>
              <li><a href="/cultura">Cultura</a></li>
              <li><a href="/inmobiliaria">Inmobiliaria</a></li>


            </ul>
          </li>

          <li><a href="/consulgeneral">Cónsul General</a></li>

          <li class="menu-has-children"><a>Consulado al Día</a>
            <ul>
              <li><a href="/noticias">Noticias Consulado NY</a></li>
              <li><a href="https://globod.com">Noticias Rep. Dom.</a></li>

            </ul>
          </li>
          <li><a href="/externa">Oficinas Satelites</a></li>



          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <section id="topbar" class="d-none d-lg-block">

    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:info@consuladord-ny.org">info@consuladord-ny.org</a>
        <i class="fa fa-phone"></i>212-768-2480
        <i class="fa ">
          Horarios laborables: Lunes a Viernes 9:00 AM - 3:30PM / Sabados 9:00 AM - 1:30PM
        </i>
      </div>

      <a href="https://twitter.com/consuldom_ny?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="https://www.facebook.com/consuldomny/" class="facebook"><i class="fa  fa-facebook"></i></a>
      <a href="https://www.instagram.com/consuldom_ny/" class="instagram"><i class="fa  fa-instagram"></i></a>
      <a href="https://goo.gl/maps/C6nsSmJKymq" class="google-plus"><i class="fa  fa-google-plus"></i></a>

    </div>

  </section>